.section-temples#temples._container 
	.bg-top 
	._body
		hgroup.title.tl-02._title 
			h2 
				span Храмы благочиния
		.hr 
			img(src="@@webRoot/img/frame/hr.png" alt="")
		._body 
			._content
				.slide-temples 
					._body._swiper
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_church.jpg" alt="image")
								._img-content
									._info Храм в&nbsp;честь Рождества Христова
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_boris_gleb.png" alt="image")
								._img-content
									._info Храм в&nbsp;честь свв.&nbsp;блгв. кнн.&nbsp;Бориса и&nbsp;Глеба
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_vera_nad.png" alt="image")
								._img-content
									._info Храм Веры, Надежды, Любови и&nbsp;матери их&nbsp;Софии
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_sv_tihona.png" alt="image")
								._img-content
									._info Храм Святителя Тихона
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_sv_luki.jpg" alt="image")
								._img-content
									._info Молитвенный дом в&nbsp;честь святых равноапостольных великого князя Владимира и&nbsp;великой княгини&nbsp;Ольги
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_vladimira_olgi.jpg" alt="image")
								._img-content
									._info Храм в&nbsp;честь Преображения Господня
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_preobr.jpg" alt="image")
								._img-content
									._info Храм в&nbsp;честь святого великомученика и&nbsp;целителя Пантелеймона
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_panteleimona.jpg" alt="image")
								._img-content
									._info Храм в&nbsp;честь Спаса Нерукотворного (при&nbsp;казачьей общине&nbsp;«Спас»)
						._slide 
							._image._img
								img(src="@@webRoot/img/foto/hram_petra.jpg" alt="image")
								._img-content
									._info Храм благоверных Петра и&nbsp;Февронии Муромских





