.section-intro._container 
	._body
		._content
			.blagochinie._row 
				._column 
					hgroup.title.tl-01 
						h2 
							span О Благочинии 
						._text
							span К 3 благочинию относятся храмы города Обнинск и Спас-Загорье Малоярославецкого района  
							span В благочинии 3-го округа состоят восемь приходов, на которых несут послушание 18 священнослужителей (15 священников и 2 дьякона)(один священник за штатом): 
				._column  
					._foto-nast 
						img(src="@@webRoot/img/foto/blagochin.png" alt="foto")
				._column 
					._info-nast
						p Благочинный протоиерей <br> Сергий Вишняков. 
						p.t-01901 Настоятель Храма ВЕРЫ НАДЕЖДЫ ЛЮБОВИ и матери их СОФИИ.
						//- p.t-01901  Храм в честь иконы Божьей Матери «ДОСТОЙНО ЕСТЬ»
					.hr._hr 
						img(src="@@webRoot/img/frame/hr.png" alt="")
					._button
						a(href="").button.gradient-button.btn-grad 
							span Подробнее 
				._column  
					._bg-image 
				.bg-bottom
