.section-news._container#news
	._body
		//- .main-content__bread-crumbs
		//- include ../chunks/bread-crumbs
		.bg-grad
		.bg-top 
		hgroup.title.tl-02._title 
			h2 
				span Новости благочиния
		.hr 
			img(src="@@webRoot/img/frame/hr.png" alt="") 
		.slide._slide-news 
			._body.news-slide._swiper 
				._slide-column 
					._image._img 
						img(src="@@webRoot/img/news/news_24032025__small.jpg" alt="image")
						._label 
							span._data 24 Марта 2025 12:30
					.content-slide._content 
						._body 
							._title
								strong  Мастер-класс «Закладка для любимой книги» от Музея Русской старины при храме Рождества Христова
							._text 
								p Приглашаем учащихся общеобразовательных школ (III - VI-e классы) своими руками сделать книжную закладку из фетра. Дети под руководством опытных наставников самостоятельно сделают аппликацию в виде книжной закладки. Мастер-классы будут проводиться в период весенних каникул (с 24 по 28 марта) в будние дни. 
								p <strong>Время проведения мастер-классов:</strong> 10:00 13:00 Занятия будут проводиться в храме Рождества Христова по адресу (ул. Энгельса, 12). В программу творческой встречи войдут: рассказ о возникновении книгопечатания на Руси; ознакомление детей со старинными книгами из фонда музея, просмотр анимационного фильма, чаепитие
							._link
								a(href="#").link_underline Читать далее
				._slide-column 
					._image._img 
						img(src="@@webRoot/img/news/news_24032025_581_small.jpg" alt="image")
						._label 
							span._data 24 Марта 2025 12:27
					.content-slide._content 
						._body 
							._title
								strong Для патриотических общественных организаций в Обнинске прошёл молебен.
							._text 
								p  22 марта в храме Рождества Христова прошёл молебен о здравии для представителей Добровольной Народной Дружины, "Русской общины", "Северного человека" и их семей. По окончании молебна для всех желающих была отслужена заупокойная лития о погибших воинах в зоне СВО.
								p Встреча соратников закончилась общим фото у стен храма Рождества Христова и совместным чаепитием с братской беседой.
							._link 
								a(href="#").link_underline Читать далее
				._slide-column 
					._image._img 
						img(src="@@webRoot/img/news/news_24032025_580_small.jpg" alt="image")
						._label 
							span._data 24 Марта 2025 12:13
					.content-slide._content 
						._body 
							._title
								strong В Обнинске состоится кинопоказ.
							._text 
								p 25 марта в 19:00  состоится показ и обсуждение фильма, в рамках Дня православной книги.
								p Место проведения показа - *Центр досуга* (ул. Энгельса, 2А). Показ и обсуждение фильма проводит иерей Александр Сорокин.
							._link 
								a(href="#").link_underline Читать далее
				._slide-column 
					._image._img 
						img(src="@@webRoot/img/news/news_24032025_579_small.jpg" alt="image")
						._label 
							span._data 23 Марта 2025 12:06
					.content-slide._content 
						._body 
							._title
								strong  В рамках Дня православной книги в школе города Обнинска прошло мероприятие.
							._text 
								p 20 марта в СОШ № 18 для ребят из первых и вторых классов прошли три встречи с калужской писательницей Светланой Пономаревой.
								p Герои каждого детского писателя немного похожи на своего автора. Два котика , Сеня и Веня, любопытные и веселье, познают окружающий мир во всех его аспектах. Они совершают ошибки, ищут пути их исправления. Сеня и Веня учатся! А вместе с ними учатся дети, читающие книги о их приключениях. Как важно, нужные книжки в детстве читать! Книги Светланы Ивановны - нужные книги для наших детей! Более 700 встреч с детьми разных возрастов, за неполных два учебных года, провела Светлана Ивановна.
							._link 
								a(href="#").link_underline Читать далее
				._slide-column 
					._image._img 
						img(src="@@webRoot/img/news/news_23032025__small.jpg" alt="image")
						._label 
							span._data 20 Марта 2025 20:20
					.content-slide._content 
						._body 
							._title
								strong Клирик Обнинского благочиния провел урок, посвященный дню православной книги.
							._text 
								p В рамках Дня православной книги в 3, 4 и 5 православных классах были проведены уроки, посвящённые этому празднику. Дети услышали рассказ о появлении на Руси первых рукописных книг на церковнославянском языке и об их истории на протяжении почти  шести столетий до первой печатной книги "Апостол". 
								p Особое внимание детей привлёк показ Следованной Псалтири 1822 года издания из алтаря храма свв. р/а Владимира и Ольги.
							._link 
								a(href="#").link_underline Читать далее
		._button 
			a(href="@@webRoot/news.html" ).button.gradient-button 
				span Все новости
