.perform.el-opacity
	.mask-render 
	.bg-clip._bg-clip 
		._item 
		._item 
	.bg-bottom 
	._body.top-box
		._container
			._content
				._row.tr-row-01
					._column.el-1 
						hgroup.hgroup-items.title 
							h1._item.t-h1
								span Благочиние
								span города Обнинска
							._item.bounce-01
								._text.t-019
									p Русская Православная Церковь
									p Калужская митрополия
									p Калужская епархия
					._column.el-3 
						._date
					._column
						._slide-perform
							include ../assets/slide-perform

