.section-intro
	._container
		._body
			._content.col-2
				._row
					._column
						._title
							h2 Привет! Я Александр
							span Александр Васильев
					._column
				._row
					._column.trigger-02
						._info.t-01901.bounce-02
							p Я независимый специалист в&nbsp;области цифровых технологий, и&nbsp;моя работа вдохновлена страстью и&nbsp;опытом в&nbsp;создании цифровых продуктов. Я&nbsp;сотрудничаю с&nbsp;веб-агентствами, организациями и&nbsp;индивидуальными клиентами, чтобы&nbsp;разрабатывать современные веб-сайты и&nbsp;бизнес-приложения, которые&nbsp;соответствуют их&nbsp;потребностям и&nbsp;ожиданиям.
					._column