.section-website#website
	._container.p-box  
		.hr 
			img(src="@@webRoot/img/frame/hr.png" alt="") 
		.slide._slide-website
			._body.slide-swiper._swiper
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь Рождества Христова
							a(href="#")._link 
								+iconfont('unlink', '_icon')
								span.link_underline www.domen.ru
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь свв.&nbsp;блгв. кнн.&nbsp;Бориса и&nbsp;Глеба
							a(href="#")._link 
								+iconfont('unlink', '_icon')
								span.link_underline www.domen.ru
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм Веры, Надежды, Любови и&nbsp;матери их&nbsp;Софии
							a(href="#")._link 
								+iconfont('unlink', '_icon')
								span.link_underline www.domen.ru
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Молитвенный дом в&nbsp;честь св. равн. вел. кн.Владимира и&nbsp;вел. кн.&nbsp;Ольги
							a(href="#")._link 
								+iconfont('unlink', '_icon')
								span.link_underline www.domen.ru
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь Преображения Господня
							a(href="#")._link 
								+iconfont('unlink', '_icon')
								span.link_underline www.domen.ru
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь святого великомученика и&nbsp;целителя Пантелеймона
							a(href="#")._link 
								+iconfont('unlink', '_icon')
								span.link_underline www.domen.ru
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь Спаса Нерукотворного (при&nbsp;казачьей общине&nbsp;«Спас»)
							a(href="#")._link 
								+iconfont('unlink', '_icon')
								span.link_underline www.domen.ru
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span рам благоверных Петра и&nbsp;Февронии Муромских
							a(href="#")._link 
								+iconfont('unlink', '_icon')
								span.link_underline www.domen.ru