.section-website#website
	._container.p-box  
		.hr 
			img(src="@@webRoot/img/frame/hr.png" alt="") 
		.slide._slide-website
			._body.slide-swiper._swiper
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь Рождества Христова
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь свв.&nbsp;блгв. кнн.&nbsp;Бориса и&nbsp;Глеба
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм Веры, Надежды, Любови и&nbsp;матери их&nbsp;Софии
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Молитвенный дом в&nbsp;честь святых равноапостольных великого князя Владимира и&nbsp;великой княгини&nbsp;Ольги
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь Преображения Господня
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь святого великомученика и&nbsp;целителя Пантелеймона
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span Храм в&nbsp;честь Спаса Нерукотворного (при&nbsp;казачьей общине&nbsp;«Спас»)
				._slide-column 
					._content-slide
						._item 
							._text 
								p 
									span рам благоверных Петра и&nbsp;Февронии Муромских