.section-schedule#schedule
	._container.p-box  
		.bg-top
		.bg-grad
		hgroup.title.tl-02._title 
			h2 
				span Расписание богослужений в храмах благочиния
		.hr 
			img(src="@@webRoot/img/frame/hr.png" alt="") 
		.slide._slide-schedule
			._body.slide-swiper._swiper  
				._slide-column 
					._title
						strong Понедельник
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide
						._item 
							._text 
								p 
									strong Седмица 5-я Великого поста
								span Утро 
							._time 
								span 08.00
								span Часы, изобразительны, вечерня.
						._item 
							._text 
								span Вечер 
							._time 
								span 09.00
								span Великое повечерие, утреня. 
				._slide-column
					._title
						strong Вторник
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								span Утро 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						._item 
							._text  
								span Вечер 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				._slide-column 
					._title
						strong Среда
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								span Утро
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						._item 
							._text  
								span Вечер 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				._slide-column 
					._title
						strong Четверг
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								span Утро 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						._item 
							._text 
								span Вечер
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				._slide-column 
					._title
						strong Пятница
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								span Утро 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						._item 
							._text 
								span Вечер 
							._time 
								span 09.00
								span Великое повечерие, утреня.
				._slide-column 
					._title
						strong Суббота
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								span Утро 
							._time 
								span 09.00
								span Всенощное бдение.
						._item 
							._text 
								span Вечер 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				._slide-column.title-red  
					._title
						strong Воскресенье
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								span Утро
							._time 
								span 07.00
								span Ранняя литкргия
							._time 
								span 09.00 Исповедь
								span Поздняя литургия
						._item 
							._text  
								span Вечер 
							._time 
								span 17.00
								span Вечерня, акафист Страстям Христовым (III Пассия). Вынос Ризы Господней и Гвоздя.
