.section-intro
	._container
		._body
			._content
				._row
					._column
						._title
							h2 Храмы Благочиния
							span К 3 благочинию относятся храмы города Обнинск и Спас-Загорье Малоярославецкого района
					._column
				._row
					._column.trigger-02
						._info.t-01901.bounce-02
							p В благочинии 3-го округа состоят восемь приходов, на которых несут послушание 18 священнослужителей (15 священников и 2 дьякона)(один священник за штатом):
							ul 
								li Приход храма Рождества Христова г. Обнинск
								li Приход храма Св. равноап. Владимира и Ольги г. Обнинск
								li Приход храма Св. Бориса и Глеба пос. Белкино 
								li Приход храма Свт. Тихона г. Обнинск 
								li Приход храма Св. вмч. Пантелимона г. Обнинск 
								li Приход храма Преображения Господня с. Спас-Загорье 
								li Приход ДПЦ «Вера, Надежда, Любовь» г. Обнинск 
								li Приход храма в честь святителя Луки, архиепископа Симферопольского и Крымского при Медицинском радиологическом научном центре г. Обнинск
						._column 