.section-schedule#schedule.p-box
	._container 
		hgroup.title.tl-02._title 
			h2 
				span Расписание богослужений в храмах благочиния
		.hr 
			img(src="@@webRoot/img/frame/hr.png" alt="") 
		.slide._slide-schedule
			._body.schedule-slide._swiper.swiper  
				._column.syllabus__item
					._title
						strong Понедельник
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					.syllabus-item__text.syllabus-text
						._item 
							._text 
								p 
									strong Седмица 5-я Великого поста
								p Утро 
							._time 
								span 08.00
								span Часы, изобразительны, вечерня.
						._item 
							._text 
								p Вечер 
							._time 
								span 09.00
								span Великое повечерие, утреня.

				._column.syllabus__item
					._title
						strong Вторник
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								p Утро 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						._item 
							._text  
								p Вечер 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				._column.syllabus__item
					._title
						strong Среда
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								p Утро
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						._item 
							._text  
								p Вечер 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				._column.syllabus__item
					._title
						strong Четверг
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								p Утро 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						._item 
							._text 
								p Вечер
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				._column.syllabus__item
					._title
						strong Пятница
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								p Утро 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						._item 
							._text 
								p Вечер 
							._time 
								span 09.00
								span Великое повечерие, утреня.
				._column.syllabus__item
					._title
						strong Суббота
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								p Утро 
							._time 
								span 09.00
								span Всенощное бдение.
						._item 
							._text 
								p Вечер 
							._time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				._column.syllabus__item
					._title
						strong Воскресенье
						span 27 марта 2025
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					._content-slide 
						._item 
							._text 
								p
									strong Седмица 5-я Великого поста
								span Утро
							._time 
								span 07.00
								span Ранняя литкргия
							._time 
								span 09.00 Исповедь
								span Поздняя литургия
						._item 
							._text  
								p Вечер 
							._time 
								span 17.00
								span Вечерня, акафист Страстям Христовым (III Пассия). Вынос Ризы Господней и Гвоздя.