.performance.el-opacity
	.parallax
		._inner
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
	._body.top-box
		._container
			._content
				._row
					._column.el-3
						._icon
							+iconfont('snow', '_icon _rotate-el-01')
						._date
				hgroup._row.tr-row-01
					._column.el-2
						h1
							span Благочиние
							span города Обнинска
					._column.bounce-01
						._text.t-01901
							p Русская Православная Церковь
							p Калужская митрополия
							p Калужская епархия