.section-intro.p-box
	._container 
		._body
			._content
				.blagochinie._row 
					._column 
						hgroup.title.tl-01 
							h2 
								span О Благочинии 
							._text
								span К 3 благочинию относятся храмы города Обнинск и Спас-Загорье Малоярославецкого района  
								span В благочинии 3-го округа состоят восемь приходов, на которых несут послушание 18 священнослужителей (15 священников и 2 дьякона)(один священник за штатом): 
					._column  
						._foto-nast 
							img(src="@@webRoot/img/foto/blagochin.png" alt="foto")
					._column 
						._info-nast
							p Благочинный протоиерей <br> Сергий Вишняков. 
							p.t-01901 Настоятель Храма ВЕРЫ НАДЕЖДЫ ЛЮБОВИ и матери их СОФИИ.
							//- p.t-01901  Храм в честь иконы Божьей Матери «ДОСТОЙНО ЕСТЬ»
						._hr 
							img(src="@@webRoot/img/frame/hr.png" alt="")
						button._button
							span.gradient-button Подробнее 
					._column  
						._bg-image
						//- (style="background-image: url('./img/pictures/vrata.jpg')")
						//- img(src="@@webRoot/img/pictures/vrata.jpg" alt="image")
					.bg-bottom
				//- ._row 
					._top-hr
						img(src="@@webRoot/img/frame/22.png" alt="image")
					//- ._row 
					._info
						._frame 
							.frame-container-inner 
							._text.t-01901 
								p В благочинии 3-го округа состоят восемь приходов, на которых несут послушание 18 священнослужителей (15 священников и 2 дьякона)(один священник за штатом):
								ul 
									li Приход храма Рождества Христова г. Обнинск
									li Приход храма Св. равноап. Владимира и Ольги г. Обнинск
									li Приход храма Св. Бориса и Глеба пос. Белкино 
									li Приход храма Свт. Тихона г. Обнинск 
									li Приход храма Св. вмч. Пантелимона г. Обнинск 
									li Приход храма Преображения Господня с. Спас-Загорье 
									li Приход ДПЦ «Вера, Надежда, Любовь» г. Обнинск 
									li Приход храма в честь святителя Луки, архиепископа Симферопольского и Крымского при Медицинском радиологическом научном центре г. Обнинск
							//- ._image._img
								img(src="@@webRoot/img/foto/vera_nad_nast.png" alt="image")
								._image-title Благочинный протоиерей Сергий Вишняков. 
				//- ._row
					aside.news._news
						._body
							._frame
								.frame-container-inner 
								._title Новости Благочиния
								._content
									._wrapp-container
										._button
											._arrow.arrow
												span 
												span 
												span 
										._info  
											._column 
												._image 
													img(src="@@webRoot/img/news/news_29012025__norm.png" alt="imge")
												p._text 27 января калужская писательница Светлана Понамарева в очередной раз встретилась с ребятами в МБОУ СОШ №10. Выбранный метод работы с детьми дошкольного и младшего школьного возраста, посредством сказки, неслучайный. Ведь именно сказки являются прекрасным инструментом для формирования моральных принципов и нравственных установок у детей. Они помогают развивать эмоциональную сферу, воображение, эмпатию и социальные навыки. Также, сказки учат детей различать добро и зло, правильное и неправильное поведение. Они показывают последствия негативных поступков и направляют детей к выбору правильного пути.  
												p._text  27 января калужская писательница Светлана Понамарева в очередной раз встретилась с ребятами в МБОУ СОШ №10. Выбранный метод работы с детьми дошкольного и младшего школьного возраста, посредством сказки, неслучайный. Ведь именно сказки являются прекрасным инструментом для формирования моральных принципов и нравственных установок у детей. Они помогают развивать эмоциональную сферу, воображение, эмпатию и социальные навыки. Также, сказки учат детей различать добро и зло, правильное и неправильное поведение. Они показывают последствия негативных поступков и направляют детей к выбору правильного пути. 
													span Кроме того, сказки развивают воображение и творческое мышление у детей. Они помогают детям видеть мир во всем его разнообразии. Ребята 1 "Б", 3 "Г" и 4 "Г" классов смогли познакомиться с произведениями Калужской писательницы.
													span Важно отметить, что русские народные сказки или нравственные авторские сказки имеют свои особенности и уникальный стиль. Они передают дух народа, его традиции и духовные, культурные и моральные ценности. Поэтому они особенно ценны для воспитания детей в русской культуре.
											._column 
												._image 
													img(src="@@webRoot/img/news/news_29012025_560_small.jpg" alt="imge") 
												._column 
													p._text 25 января кадеты 5 "А" и 5 "Б" классов Технического лицея словно на машине времени перенеслись во времена былинной Руси. Богатырский праздник для учащихся лицея устроили представители Тульской Богатырской Заставы. 
													p._text Ребята познакомились не только с исконными русскими забавами, но и сами смогли принять в них участие, например, в различных боях «стенка на стенку», игровых состязаниях, попробовать себя в боях мешками на бревне. 
													p._text Такие мероприятия не только укрепляют ребят физически, но и прививают любовь к Родине, традициям, дают нравственные ориентиры, укрепляют духовно.
											._column 
												._image 
													img(src="@@webRoot/img/news/news_29012025_558_norm.jpg" alt="imge")  
												p._text 25 января 2025 г., по благословению митрополита Калужского и Боровского, при поддержке губернатора Калужской области в МБУ «Дом Ученых» состоялся четвертый показ Рождественского спектакля Калужской епархии «О России с любовью».
												p._text Традиционная Рождественская епархиальная ёлка, состоявшаяся в областной филармонии 7 января 2025 года со спектаклем «О России с любовью» стала настоящим событием в культурной жизни города.
												p._text Более 100 юных талантов из Калуги, включая учащихся православных классов и творческие коллективы, подарили зрителям незабываемые впечатления. Особенно радостно было видеть в зале школьников Обнинска и наших дорогих гостей — участников специальной военной операции. Ведь именно вера объединяет нас всех, даря надежду и силы!
												p._text Зрители достойно оценили представление, которое отражает важную роль Православной веры в дни серьезных испытаний, выпавших на долю Российского государства в настоящее время.
												p._text В спектакле также приняли участие герои специальной военной операции со своими семьями.
												p._text Организаторы спектакля – ЧОУ «Православная гимназия в г. Калуге», МБОУ ДО «Детская школа искусств №2 им. С.С. Туликова» г. Калуги, МБУК г. Калуги «Городской досуговый центр», Министерство внутренней политики Калужской области, Отдел образования и катехизации Калужской епархии и другие. Автор идеи – директор Православной гимназии Валентина Николаевна Тарарычкина, режиссеры и сценаристы – Любовь Евгеньевна Киселёва и Олимпиада Леонидовна Потемкина. В фойе МБУ "Дом учёных" гостям мероприятия была представлена коллекция авторских женских костюмов Калужской области мастеров Клуба «Художественная вышивка» г. Обнинска,  а также другие музейные экспозиции.
												p._text Педагоги и работники музея провели увлекательный мастер-класс по созданию закладки для книги.
												p._text Перед началом представления гости пропели тропарь Рождества Христова. Далее с приветственным словом выступил протоиерей Сергий Вишняков – благочинный 3-го округа, который поздравил зрителей с Рождеством Христовым.
												p._text Всего в зале было более 500 зрителей. Это представление мало кого оставило равнодушным.
												p._text В заключение концерта духовенством Обнинского благочиния была проведена викторина на рождественскую тематику. За правильные ответы были вручены сладкие подарки.
