.temples#temples 
	._body._container 
		._title.tl-02
			h2 
				span Храмы
		._row 
			._title.tl-03
				h3 
					span Храм в честь Рождества Христова 
				.hr-shelf 
					._content
			._content
				._column
					._frame 
						.frame-container-inner 
						._image 
							img(src="@@webRoot/img/foto/hram_church.jpg" alt="image")  
						._text.t-01901
							p Храм приходской, имеет четыре престола: центральный престол в&nbsp;честь <strong>Рождества&nbsp;Христова</strong>.
							p Северный придел – в&nbsp;честь святителя Николая, архиепископа Мир Ликийских чудотворца.
							p Южный придел в&nbsp;честь иконы Божией Матери «Державная».
							p Престол нижнего придела – в&nbsp;честь св.&nbsp;Иоанна Предтечи, Крестителя Господня.
							p Все престолы, кроме&nbsp;нижнего в&nbsp;крестильном храме в&nbsp;честь св.&nbspИоанна Предтечи, освящены архиерейским чином митрополитом Калужским иnbsp;Боровским Климентом вnbsp;сослужении архиепископа Людиновского Георгия 15&nbsp;марта&nbsp;2009&nbsp;года.
						._text.t-01901 
							p <strong>Исторические сведения:</strong>
							p Приход вновь созданный. В 2012 году отметил 10 лет.
							p В 1991 г. обнинские прихожане выдвинули инициативу строительства в центре города соборной церкви. Проект был осуществлен городским архитектором М.М.Белоусовым.
							p 1998 г.Весной был установлен памятный креста в сквере на месте будущего строительства храма. В мае начались строительные работы. В декабре был завершен нулевой цикл.
							p 29.06. – освящение строительства Святейшим Патриархом Московским и всея Руси Алексием II во время официального визита на Калужскую землю по случаю празднования 200-летия учреждения Калужской епархии.
							p Митрополит Калужский и Боровский Климент в сослужении с архиепископом Людиновским Георгием и собором духовенства совершил освящение трех престолов храма: центрального престола в честь Рождества Христова, престола северного придела в честь свт. Николая Мир-Ликийского и престола южного придела в честь иконы Божией Матери «Державная».
						._text.t-01901
							p <strong>Современная жизнь прихода:</strong>
							p В храме регулярно отправляются богослужения суточного круга.
							p При храме действует Духовно-просветительский Центр.
							p Клирики храма принимают активное участие в межприходских и городских мероприятиях. Налажена и хорошо ведется социальная работа Проводится активная миссионерская и просветительская работа с горожанами. 
						//- ._frame 
						//- .frame-container-inner
						._text.t-01901
							p <strong> Расписание богослужений храма Рождества Христова:</strong>
							p Начало Божественной Литургии в 9:00; в воскресные и праздничные дни две
							ul 
								li 
									strong Литургии: в 7:00 и 9:30.
								li 
									strong Вечернее богослужение в 17:00.
								li 
									strong Начало исповеди в 16:45..
							p Божественная Литургия служится каждый день. 
				._column
					._frame
						.frame-container-inner  
						._image._img
							img(src="@@webRoot/img/foto/hrxristova_nast.png" alt="image") 
						._info
							p <strong>Настоятель:</strong> иерей Игорь Горня
							p <strong>Адрес:</strong> г. Обнинск, ул. Энгельса д. 12
							p <strong>Телефон:</strong> 8-915-891-54-83
							p <strong>Сайт:</strong>
								a(href="http://hramrh.ru/") http://hramrh.ru/
							p <strong>Почта:</strong> 
								a(href="mailto:prist-georgiy@yandex.ru") prist-georgiy@yandex.ru 
								a(href="mailto:hram-rh@pochta.ru") hram-rh@pochta.ru
						._text.t-01901
							strong Иерей Игорь Горня - настоятель храма в честь Рождества Христова
		._row 
			._title.tl-04 
				h3 Храм в честь свв. блгв. кнн. Бориса и Глеба
				.hr-shelf 
					._content
			._content
				._column 
					._frame 
						.frame-container-inner 
						._image 
							img(src="@@webRoot/img/foto/hram_boris_gleb.png" alt="image") 
						._text.t-01901
							p Престол освящен в честь <strong>св.&nbsp;Бориса и&nbsp;Глеба</strong> священническим чином прот. Вячеславом Полосиным в&nbsp;1988&nbsp;году.  Второй антиминс получен в&nbsp;1999 году, в&nbsp;2000 году по&nbsp;благословению Его высокопреосвященства митр. Климента передан прот. Александру Эггерсу для&nbsp;совершения богослужений в с.&nbsp;Кудиново.
						._text.t-01901
							p <strong> Исторические сведения:</strong>
							p История храма св.&nbsp;Бориса и&nbsp;Глеба связана с&nbsp;историей самого села Белкино Первое письменное упоминание о с.&nbsp;Белкино относится к&nbsp;1589 году.
							p В это время построены каменная церковь, трехэтажный барский дом с&nbsp;флигелями
							p Храм в&nbsp;честь свв. Бориса и Глеба г. Обнинска (с.Белкино) был построен в&nbsp;1773 г. при&nbsp;И.&nbsp;И.&nbsp;Воронцове и&nbsp;был частью усадебного комплекса, выстроенного по&nbsp;проекту архитектора К.&nbsp;И.&nbsp;Бланка.
							p Храм был закрыт в&nbsp;1930 г. и&nbsp;передан в собственность местного колхоза, возвращён Церкви 13 мая 1988 г., в&nbsp;год тысячелетия христианства на&nbsp;Руси и&nbsp;отреставрирован. В&nbsp;настоящий момент приход живёт полной церковной жизнью.
						._text.t-01901 
							p <strong>Современная жизнь прихода:</strong>
							p Богослужения совершаются еженедельно по&nbsp;субботам воскресным дням и&nbsp;праздникам. При&nbsp;храме действует воскресная школа, библиотека, хорошо развита паломническая служба и&nbsp;молодежное движение. Много внимание уделено социальному направлению. 
						._text.t-01901
							p <strong> Расписание богослужений храма Рождества Христова:</strong>
							p Богослужения в храме совершаются еженедельно:  
							ul 
								li 
									strong Среда 18.оо вечерня
								li 
									strong Пятница 18.оо вечерня
								li 
									strong Суббота 8.зо панихида, Литургия <br>18.оо всенощное бдение
									li 
										strong  Воскресенье 8.зо молебен, Литургия.  
							p Кроме того богослужения совершаются в великие праздники, дни памяти почитаемых  святых. Накануне – всенощное бдение, в день праздника –Литургия.
				._column 
					._frame 
						.frame-container-inner
						._image._img
							img(src="@@webRoot/img/foto/boris_gleb_nast.png" alt="image") 
						._info
							p <strong>Настоятель:</strong> протоиерей Алексий Поляков
							p <strong>Адрес:</strong> 249013, Калужская область, Боровский район, село Белкино
							p <strong>Телефон:</strong> 8 (910) 707-85-72
							p <strong>Сайт:</strong> http://belkino.su
							p <strong>Почта:</strong> belkino@mail.ru
						._text.t-01901
							strong Протоиерей Алексей Поляков - настоятель храма в честь благовевных князей и страстотерпцев Бориса и Глеба 
		._row 
			._title.tl-05 
				h3 Храм Веры, Надежды, Любови и матери их Софии
				.hr-shelf 
					._content
			._content
				._column 
					._frame 
						.frame-container-inner 
						._image 
							img(src="@@webRoot/img/foto/hram_vera_nad.png" alt="image") 
						._text.t-01901
							p <strong>При ДПЦ «Вера, Надежда, Любовь» действуют два храма: в честь святых мучениц Веры Надежды Любови и матери их Софии и в честь иконы Божьей Матери именуемой  Достойно есть.</strong>
							p Престолы освящены иерейским чином.
							p Исторические сведения:
							p Обнинский духовно-просветительский Центр (Миссия) «Вера, Надежда, Любовь»- местная православная религиозная организация-учреждение Калужской епархии Русской Православной Церкви (Московский патриархат) образован в 1997 году. 
							p Но сам Центр располагается в бывшем солдатском клубе и возведен новый, типовой храм, что является следствием роста прихода, а значит, подтверждает правильность выбора направления деятельности Центра. Богослужения совершаются ежедневно.
							p При центре действует 2 храма: <strong>Храм Веры, Надежды, Любови и матери их Софии</strong>, и <strong>Храм в честь иконы Божьей Матери «Достойно есть»</strong>, которые окормляют около 400 прихожан. 
							p Кроме того,  это духовно-образовательное учреждение, которое состоит из воскресной школы  для взрослых и детей, и библиотеки, которая имеет  более 500 единиц хранения, кассет и дисков DVD.
							p Центр является организатором Богородично-Рождественских образовательных Чтений, которые собирают в сентябре педагогов, работников культуры, и общественных деятелей со всей Калужской области. 
						._text.t-01901 
							p <strong>Современная жизнь прихода:</strong>
							p Духовно Просветительский Центр все свои силы направляет на духовно-нравственное возрождение нашего народа на основе православных традиций. С этой целью  разработаны различные методические подходы по всем направлениям, которые могли бы реализовать эти цели.  Проводятся конференции, чтения,  лекции, беседы, посвященные современным проблемам общества, действует две воскресные школы, изостудия, студия резьбы по дереву, проводятся фестивали «Рождественская звезда», «Фестиваль православного Искусства», кинофестиваль «Встреча» и др.  Совершаются паломнические поездки, через участие в которых прихожане приобщаются к историческим корням своих предков. Идет работа и со средствами массовой информации. Центр окормляет и сотрудничает с различными светскими учебными учреждениями.
						._text.t-01901 
							p <strong> Расписание богослужений храма Веры, Надежды Любови и матери их Софии:</strong>
							p Богослужения совершаются ЕЖЕДНЕВНО.
							p Начало вечернего богослужения в 17-00 , утреннего в 7-30. В воскресенье и праздничные дни совершается две Божественные Литургии в 6-30 и 9-30. Каждую среду в 18-00 совершается молебное пение с акафистом Божьей Матери. И каждое воскресение в 18-00 молебное пение с акафистом блаженной Матроне Московской.
							p Дежурство в храме круглосуточно (все дежурные окончили общегородскую богословскую школы и продолжают обучаться в взрослой воскресной школы при Центре), дежурный священник по будням ежедневно с 9-00 до 17-00. В обязанности, возлагаемые на дежурного священника, входит совершение треб и просветительские беседы с прихожанами.
							p Еженедельно, по субботам в 11.00 молебен для благополучного течения беременности служит иерей Евгений Кандыбин.
				._column 
					._frame
						.frame-container-inner 
						._image._img
							img(src="@@webRoot/img/foto/vera_nad_nast.png" alt="image") 
						._info
							p <strong>Настоятель:</strong> протоиерей Алексий Поляков
							p <strong>Адрес:</strong> г. Обнинск, ул. Любого, 5-А
							p <strong>Телефон:</strong> (48439) 6-48-99
						._text.t-01901
							strong Протоиерей Сергий Вишняков - благочинный 3-го округа (Обнинск и Спас-Загорье), настоятель храма в честь мучениц Веры, Надежды, Любови и матери их Софии 
		._row 
			._title.tl-06 
				h3 Храм Святителя Тихона
				.hr-shelf 
					._content
			._content
				._column 
					._frame 
						.frame-container-inner 
						._image 
							img(src="@@webRoot/img/foto/hram_tihona_sv.png" alt="image") 
						._text.t-01901
							p Приход состоит из храма в честь Святителя Тихона, Патриарха Московского и Всероссийского, освящённого в 1992 году священническим чином и придела в честь Благовещения Пресвятой Богородицы, освящённого архиерейским чином 1 декабря 1996 года Архиепископом Калужским и Боровским Климентом.
						._text.t-01901
							p <strong> Исторические сведения:</strong>
							p История храма Святителя Тихона, Патриарха Московского и Всероссийского началась с того момента, когда по благословению Митрополита Калужского и Боровского Климента, была зарегистрирована новая православная община, получившая название в честь иконы Пресвятой Богородицы Державная. 15 сентября 1991 года  был заложен закладной камень в основание будущего храма, который по благословению владыки Климента был освящён в честь Святителя Тихона, патриарха Московского и Всероссийского. С весны 1992 года в храме начались регулярные богослужения. В 1994 году был заложен новый предел в честь Благовещения Пресвятой Богородицы, который был освящен Архиепископом Калужским и Боровским Климентом 1 декабря 1996 года.
						._text.t-01901 
							p <strong> Современная жизнь прихода:</strong>
							p За годы существования приход рос, развивался и благоустраивался. Появились новые строения (дом притча; пристройки: ризница, бухгалтерия, церковная лавка; колокольня; первая в городе крестильня, где появилась возможность совершать Таинство Крещения взрослых с полным погружением). Храм является одним из духовных центров города Обнинска, постоянными прихожанами являются как минимум около 150 человек. Также его посещают многочисленные жители города и окрестностей. На приходе идет активная приходская жизнь. Прихожане старались учавствовать во всех проводимых в городе и епархии межприходских мероприятиях.
						._text.t-01901 
							p <strong> Расписание богослужений храма Святителя Тихона:</strong>
							p Богослужения совершаются суббота, воскресенье, в великие праздники, дни памяти почитаемых  святых. Накануне – всенощное бдение, в день праздника –Литургия.
							p Утренние богослужения в  храме  в основном начинаются в 8.50, реже в 7.00 и 8.00, вечерние в 17.00, летом в 18.00.
							p В храме круглосуточно дежурит сторож, который при необходимости связывается по мобильному телефону или по рации с настоятелем храма для решения неотложных вопросов.
				._column 
					._frame
						.frame-container-inner 
						._image._img
							img(src="@@webRoot/img/foto/sv_tihon_nast.png" alt="image") 
						._info
							p <strong>Настоятель:</strong> протоиерей Павел Синицын
							p <strong>Адрес:</strong> 249020 г. Обнинск, Кончаловские горы, кладбище
							p <strong>Телефон:</strong> (484) 394-75-15, 8-903-109-35-66
							p <strong>Сайт:</strong> http://shram-st.ru/
							p <strong>Почта:</strong> hram_st@obninsk.ru
						._text.t-01901
							strong Протоиерей Павел Синицин - настоятель храма в честь святителя Тихона, патриарха Москавского и всея Руси 

