.temples#temples 
	._container
		.bg-top 
		._title.tl-02
			h2 
				span Храмы благочиния
		._body 
			._row 
				._content
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="")
					.slide-temples 
						._body._swiper
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_church.jpg" alt="image")
									._img-content
										._info Храм в честь Рождества Христова
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_boris_gleb.png" alt="image")
									._img-content
										._info Храм в честь свв. блгв. кнн. Бориса и Глеба
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_vera_nad.png" alt="image")
									._img-content
										._info Храм Веры, Надежды, Любови и матери их Софии
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_sv_tihona.png" alt="image")
									._img-content
										._info Храм Святителя Тихона
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_sv_luki.jpg" alt="image")
									._img-content
										._info Молитвенный дом в честь святых равноапостольных великого князя Владимира и великой княгини Ольги
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_vladimira_olgi.jpg" alt="image")
									._img-content
										._info Храм в честь Преображения Господня
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_preobr.jpg" alt="image")
									._img-content
										._info Храм в честь святого великомученика и целителя Пантелеймона
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_panteleimona.jpg" alt="image")
									._img-content
										._info Храм в честь Спаса Нерукотворного (при казачьей общине «Спас»)
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_petra.jpg" alt="image")
									._img-content
										._info Храм благоверных Петра и Февронии Муромских
		//- .bg-bottom 




