.temples#temples 
	._container
		._bg-fon 
		._title.tl-02
			h2 
				span Храмы благочиния
		._body 
			._row 
				._content
					.slide-temples 
						._body._swiper
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_church.jpg" alt="image")
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_boris_gleb.png" alt="image")
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_vera_nad.png" alt="image")
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_sv_tihona.png" alt="image")
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_sv_luki.jpg" alt="image")
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_vladimira_olgi.jpg" alt="image")
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_preobr.jpg" alt="image")
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_panteleimona.jpg" alt="image")
							._slide 
								._image._img
									img(src="@@webRoot/img/foto/hram_petra.jpg" alt="image")




