@use '../core/all' as *;

.bread-crumbs {
	position: relative;
	z-index: 9;
	left: 0;

	// .bread-crumbs__list
	&__list {
		padding: 3rem 0;
		display: flex;
		font-weight: 600;
		font-size: 2.2rem;
		text-transform: uppercase;

		li {
			line-height: 1;

			span {
				user-select: none;
			}

			i {
				@include min-1440 {
					transform: translateY(-0.2rem);
				}
			}
		}

		li:nth-child(even) {
			margin: 0 1.2rem;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 1px;
			width: 35%;
			background: linear-gradient(to right, #6464645b, transparent);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 70%;
			background: linear-gradient(to right, #6464645b, transparent);
		}
	}

	// .bread-crumbs__link
	&__link {
		color: $color-secondary;
		line-height: 1;
		white-space: nowrap;
	}

	// .bread-crumbs__item
	&__item {
		position: relative;
		color: $font-color-default;
	}
}
