@use '../core/all' as *;

.section-website {
	// .section-website__body
	&__body {
		padding: 6rem 0;

		@include screen-690 {
			padding: 4rem 0;
		}
	}

	// .section-website__slide-website
	&__slide-website {
		padding: 3rem 0.5rem;
		overflow: hidden;
	}

	.slide__slide-column {
		@extend .bg-card;
	}

	// .section-website__slide__item
	.slide__item {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	// .section-website__slide__text
	.slide__text {
		flex: 1 1 auto;
		height: 100%;
		margin-bottom: 1.6rem;

		span {
			text-transform: capitalize;
		}
	}

	// .section-website__slide__link
	.slide__link {
		._icon {
			margin-right: 1rem;
		}
		span {
			color: $font-color-secondary;
			font-weight: 500;
		}
	}
}
