@use '../core/all' as *;

.section-temples {
	position: relative;

	// .slide-temples__container
	&__body {
		position: relative;
		z-index: 3;
		padding: 6rem 0;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		@include screen-690 {
			padding: 4rem 0;
		}
	}

	// .section-temples__title
	&__title {
		position: relative;
		margin-bottom: 4rem;
	}

	// .section-temples__content
	&__content {
		padding-top: 3rem;
		margin: 0;
		position: relative;
		height: 100%;
	}

	// .section-temples__image
	&__image {
		align-self: center;
		position: relative;
		display: inline-block;
		width: auto;
	}

	// .section-temples__info
	&__info {
		position: relative;
		z-index: 1;
		margin-bottom: 1rem;
		font-size: 1.8rem;
		line-height: 135%;

		p {
			text-shadow: none;
			line-height: 120%;
		}
	}

	// .section-temples__text
	&__text {
		font-size: 2.2rem;
		text-shadow: none;
		line-height: 125%;

		p {
			line-height: 120%;
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		ul {
			margin-left: 1.6rem;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

.slide-temples {
	position: relative;
	width: calc(100% + 520px);
	margin-left: -260px;
	margin-right: -260px;

	@include screen-1024 {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	// .slide-temples__body
	&__body {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		list-style: none;
		z-index: 1;
	}

	.swiper-slide-prev {
		transition: transform 0.7s ease-in-out;
		transform: translateX(20px) !important;
	}

	.swiper-slide-next {
		transition: transform 0.7s ease-in-out;
		transform: translateX(-20px) !important;
	}

	// .slide-temples__slide
	&__slide {
		z-index: 1;
		justify-content: center;
		&.swiper-slide-active {
			z-index: 3;

			.slide-temples__info {
				transform: translateY(-20%);
			}

			.slide-temples__image {
				opacity: 1;

				@include min-1024 {
					scale: 1.1;
				}
			}
		}
	}

	// .slide-temples__image
	&__image {
		position: relative;
		opacity: 0.3;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		overflow: hidden;
		transition:
			opacity 0.7s,
			scale 0.8s ease-in-out;

		@include screen-1024 {
			width: auto;
		}

		@include screen-320 {
			width: calc(100% - 10px);
		}

		img {
			display: block;
			margin: auto;
			border-radius: 8px;
			overflow: hidden;
			max-height: 390px;
		}
	}

	// .slide-temples__img-content
	&__img-content {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		display: flex;
		align-items: flex-end;
		@extend .bg-image;
	}

	// .slide-temples__info
	&__info {
		padding: 2rem;
		width: 100%;
		font-size: 32px;
		text-align: center;
		line-height: 1.1;
		font-family: $font-family-exclude;
		color: #ffffff;
		transform: translateY(100%);
		transition: transform 0.8s ease-in-out;

		@extend .text-shadow;

		@include minmax-320-1920 {
			font-size: calc(12px + (32 - 12) * ((100vw - 320px) / (1920 - 320)));
		}

		@include screen-320 {
			font-size: 12px;
		}
	}
	//* --------------------------------------------------------------------------
	// .slide-temples__navigation
	&__navigation {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 10rem;
	}

	// .slide-temples__button-prev
	&__button-prev {
		left: 0;
		height: 100%;

		&::after {
			transform: translateY(-15px);
		}

		span {
			position: relative;
			right: 0;
			transform: translateY(-25px) rotate(90deg);

			&::after {
				content: '';
				transform: translate(-16px, 9px) rotate(-90deg);
				clip-path: polygon(
					40% 0%,
					40% 20%,
					100% 20%,
					100% 80%,
					40% 80%,
					40% 100%,
					0% 50%
				);
			}
		}
	}

	// .slide-temples__button-next
	&__button-next {
		right: 0;

		span {
			left: 0;
			transform: translateY(-25px) rotate(-90deg);

			&::after {
				content: '';
				transform: translate(-16px, 9px) rotate(-90deg);
				clip-path: polygon(
					40% 0%,
					40% 20%,
					100% 20%,
					100% 80%,
					40% 80%,
					40% 100%,
					0% 50%
				);
			}
		}
	}

	&__button-prev,
	&__button-next {
		top: 0;
		z-index: 9;

		span {
			cursor: pointer;
			display: inline-block;
			width: 20px;
			transition: opacity 0.3s ease-out;
			top: 50%;

			img {
				position: relative;
				z-index: 1;
			}

			&::after {
				content: '';
				position: absolute;
				z-index: 0;
				top: 0px;
				left: 1px;

				width: 49px;
				height: 31px;
				border-radius: 50%;
				background: #fff;
			}

			@include min-1024 {
				position: absolute;
			}

			@include screen-1024 {
				position: relative;
			}
		}

		@include min-1024 {
			width: 30%;
			height: 100%;
			position: absolute;
		}

		@include screen-1024 {
			width: auto;
			height: auto;
			position: relative;
		}
	}
}
