@use '../core/all' as *;

.performance {
	// .performance__body
	&__body {
		position: relative;
		display: flex;
		align-items: center;
	}

	// .performance__container
	&__container {
		width: 100%;
	}

	// .performance__content
	&__content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	// .performance__row
	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		width: 100%;
		row-gap: 4rem;
		color: #fff;

		&:nth-child(1) {
			column-gap: 1rem;
			margin-bottom: 12rem;

			.performance__column {
				&:nth-child(1) {
					padding-right: 3rem;
					display: flex;
					p {
						font-size: 62px;
						font-weight: 700;
						line-height: 100%;
						text-transform: uppercase;
						@extend .text-shadow;

						@include minmax-490-1920 {
							font-size: calc(
								42px + (62 - 42) * ((100vw - 490px) / (1920 - 490))
							);
						}

						@include screen-490 {
							font-size: 42px;
						}
					}
					._icon {
						transform: translateY(2rem);

						&::before {
							font-size: 3.2rem;
						}
					}
				}

				&:nth-child(2) {
					display: flex;
					padding-bottom: 4rem;
				}
			}
		}

		&:nth-child(2) {
			display: grid;
			grid-template-columns: min-content 1fr;

			@include screen-690 {
				grid-template-columns: 1fr;
				justify-items: end;
				width: auto;
			}

			@include screen-375 {
				max-width: 290px;
			}

			.performance__column {
				justify-self: start;
				&:nth-child(1) {
					span {
						display: block;
					}
				}

				&:nth-child(2) {
					justify-self: end;
					padding-right: 3rem;
				}
			}
		}
	}

	// .performance__column
	&__column {
		font-family: $font-family-exclude;

		h1 {
			width: auto;
			font-size: 96px;
			font-weight: 400;
			font-family: $font-family-exclude;
			text-transform: uppercase;

			@include minmax-490-1920 {
				font-size: calc(39px + (96 - 39) * ((100vw - 490px) / (1920 - 490)));
			}

			@include screen-690 {
				margin-right: -55px;
				padding-right: 3rem;
			}

			@include screen-490 {
				// max-width: 290px;
				font-size: 39px;
			}

			span {
				pointer-events: none;
				letter-spacing: -2px;
				white-space: nowrap;
				line-height: 100%;
			}
		}
	}

	// .performance__date
	&__date {
		display: flex;
		align-items: flex-end;
		gap: 1.6rem;
		opacity: 0.7;
		margin-left: 1.6rem;

		.day {
			display: flex;
			align-items: end;
			letter-spacing: -2px;
			font: 96px $font-family-exclude;
			transform: scaleY(1.5);

			@include minmax-490-1920 {
				font-size: calc(48px + (96 - 38) * ((100vw - 490px) / (1920 - 490)));
			}

			@include screen-490 {
				font-size: 39px;
			}
		}

		.data-wrapper {
			.status,
			.month {
				font-family: $font-family-exclude;
				font-size: 3.4rem;
				font-weight: 900;
				line-height: 1;
			}

			.month {
				margin-bottom: 1rem;
			}

			.status {
				font-size: inherit;
			}
		}
	}

	// .performance__text
	&__text {
		font-weight: 400;
		text-align: right;

		p {
			line-height: 1.4;
		}
	}
}
