@use '../core/all' as *;

.performance {
	position: relative;

	// .performance__icon-svg
	&__icon-svg {
		transform: translateY(-5px);
		vertical-align: middle;
		background-position: center;
		background-repeat: no-repeat;

		._icon {
			&::before {
				font-size: 134px;
				@include minmax-320-1920 {
					font-size: calc(44px + (134 - 44) * ((100vw - 320px) / (1920 - 320)));
				}
				@include screen-320 {
					font-size: 50px;
				}
			}
		}

		filter: drop-shadow(2px 2px 3px rgb(0, 0, 0));
	}

	// .performance__body
	&__body {
		position: relative;
		z-index: 9;
		display: flex;
		align-items: center;
	}

	// .performance__container
	&__container {
		width: 100%;
	}

	// .performance__content
	&__content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: end;
		hgroup {
			@extend .text-shadow;
		}
	}

	// .performance__row
	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		width: 100%;
		color: #fff;

		&:nth-child(1) {
			column-gap: 1rem;
			margin-bottom: 12rem;

			.performance__column {
				&:nth-child(1) {
					padding-right: 3rem;
					display: flex;
					@extend .text-shadow;

					p {
						font-size: 62px;
						font-weight: 700;
						line-height: 100%;
						text-transform: uppercase;
						@extend .text-shadow;

						@include minmax-490-1920 {
							font-size: calc(
								42px + (62 - 42) * ((100vw - 490px) / (1920 - 490))
							);
						}

						@include screen-490 {
							font-size: 42px;
						}
					}
					._icon {
						transform: translateY(2rem);

						&::before {
							font-size: 3.2rem;
						}
					}
				}

				&:nth-child(2) {
					display: flex;
					padding-bottom: 4rem;
				}
			}
		}

		&:nth-child(2) {
			margin-top: -10rem;
			display: grid;
			grid-template-columns: min-content;
			justify-content: start;

			@include screen-920 {
				grid-template-columns: 1fr;
				justify-items: end;
				width: 100%;
			}

			@include screen-375 {
				max-width: 290px;
			}

			.performance__column {
				display: flex;
				justify-self: start;
				align-items: stretch;

				&:nth-child(2) {
					justify-self: end;
				}
			}
		}
	}

	// .performance__column
	&__column {
		font-family: $font-family-exclude;

		h1 {
			width: auto;
			font-size: 96px;
			font-weight: 400;
			font-family: $font-family-exclude;
			text-transform: uppercase;
			line-height: 0.7;

			@include minmax-490-1920 {
				font-size: calc(35px + (96 - 35) * ((100vw - 490px) / (1920 - 490)));
			}

			@include screen-490 {
				font-size: 35px;
			}

			span {
				pointer-events: none;
				letter-spacing: -4px;
				white-space: nowrap;
				display: block;
			}
		}
	}

	// .performance__date
	&__date {
		display: flex;
		align-items: flex-end;
		gap: 1.6rem;
		opacity: 0.7;
		margin-left: 1.6rem;

		.day {
			display: flex;
			align-items: end;
			letter-spacing: -2px;
			font: 96px $font-family-exclude;
			transform: scaleY(1.5);

			@include minmax-490-1920 {
				font-size: calc(48px + (96 - 38) * ((100vw - 490px) / (1920 - 490)));
			}

			@include screen-490 {
				font-size: 39px;
			}
		}

		.data-wrapper {
			.status,
			.month {
				font-family: $font-family-exclude;
				font-size: 3.4rem;
				font-weight: 900;
				line-height: 1;
			}

			.month {
				margin-bottom: 1rem;
			}

			.status {
				font-size: inherit;
			}
		}
	}

	// .performance__text
	&__text {
		margin-top: 1rem;
		font-weight: 400;
		text-align: right;

		p {
			line-height: 1;
		}
	}
}
