.section-greed._container 
	._body 
		.mask-render 
		.bg-grad 
		.bg-top 
		._content 
			._column
				nav._menu 
					ul._list 
						li._item  
							a(href="@@webRoot/blagochinie/about.html")._link.link_underline О благочинии
						ul._sub-menu 
							li._sub-item  
								a(href="@@webRoot/blagochinie/temples.html")._link.link_underline Храмы благочиния 
							li._sub-item   
								a(href="@@webRoot/blagochinie/duhovenstvo.html")._link.link_underline Духовенство
						li._item 
							a(href="@@webRoot/blagochinie/patriarh.html")._link.link_underline Патриарх
						li._item 
							span._link.link-hover Правящий архиерей
			._column 
				._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline Главная
							li 
								+iconfont('angle-right', '_icon') 
							li
								span._item Правящий архиерей
				._content-inf
					._row
						hgroup.title.tl-02._title 
							h2 
								span Митрополит Калужский
								span и Боровский Климент
						.hr 
							img(src="@@webRoot/img/frame/hr.png" alt="image")
					._row
						.info-content 
							._column 
								.gallery 
									._top 
										.gallery-item._card 
											._image._img 
												img(src="@@webRoot/img/foto/mitropolit-kliment.png" alt="Игорь Горня")
											._info  
												._post Архиерей
												._name.t-019  
													strong Геерман Михаайлович Капалин
												._text Митрополит Калужский и Боровский
												//- a(href="#")._link.link_underline 
												//- 	span Подробнее
								._item 
									p <strong>Митрополи́т Кли́мент</strong> (в миру Ге́рман Миха́йлович Капа́лин, 7 августа 1949, Удельная, Раменский район, Московская область, РСФСР, СССР) — епископ Русской православной церкви, доктор исторических наук, профессор Калужского государственного университета[1]. Митрополит Калужский и Боровский (с 1990 года); председатель издательского совета Московского патриархата (с 2009).
									p В 2003—2009 годах был управляющим делами Московской патриархии и постоянным членом Священного синода.
									strong Биография:
									p Родился 7 августа 1949 года в посёлке Удельная Раменского района Московской области в семье рабочего; младший брат — митрополит Тобольский и Тюменский Димитрий (Капалин) (р. 1952).
									p По окончании средней школы поступил в Московский машиностроительный техникум.
									p В 1970 году поступил во 2-й класс Московской духовной семинарии (МДС).
									p С октября 1970 по ноябрь 1972 года проходил срочную службу в Советской армии; после чего продолжил обучение в семинарии.
									p В 1974 году окончил семинарию и поступил в Московскую духовную академию, которую окончил со степенью кандидата богословия; оставлен при ней помощником инспектора и преподавателем сектора заочного обучения.
									p С 1977 года принимал участие в работе Всемирной православной молодёжной организации «Синдесмос» и Экуменическом совете молодёжи Европы (ЭСМЕ).
									p 7 декабря 1978 года пострижен в монашество архимандритом Александром (Тимофеевым) с наречением имени Климент в честь священномученика Климента, папы Римского. 24 декабря 1978 года архиепископом Дмитровским Владимиром (Сабоданом) рукоположён во иеродиакона. 7 апреля 1979 года рукоположён во иеромонаха. 14 октября 1981 года возведён в сан игумена.
									p В 1981—1982 годы исполнял обязанности старшего помощника инспектора Московской духовной семинарии.
									p 16 июля 1982 года решением Священного синода был избран епископом Серпуховским, викарием Московской епархии и назначен управляющим патриаршими приходами в Канаде и временно в США.
									p 18 июля 1982 года патриархом Пименом в Свято-Троицком соборе Троице-Сергиевой лавры был возведён в сан архимандрита. 8 августа в Свято-Духовском соборе Минска хиротонисан во епископа Серпуховского, викария Московской епархии. Хиротонию совершили митрополит Минский и Белорусский Филарет (Вахромеев), архиепископ Харьковский и Богодуховский Никодим (Руснак), епископ Тульский и Белёвский Герман (Тимофеев), епископ Пинский Афанасий (Кудюк).
									p 23 марта 1987 года освобождён от управления патриаршими приходами в Канаде и назначен управляющим патриаршими приходами в США.
									p 19 мая 1989 года удостоен сана архиепископа.
									p С 20 июля 1990 года — архиепископ Калужский и Боровский и первый заместитель председателя отдела внешних церковных сношений Московского патриархата.
									p В 1993—1996 годах — член Общественной палаты при Президенте Российской Федерации.
									p С 1996 года является ректором Калужской духовной семинарии и преподаёт в ней православную аскетику.
									p В 1997—2000 годах представлял Русскую православную церковь (РПЦ) в Межправославной комиссии по подготовке общеправославного празднования 2000-летия Рождества Христова, возглавлял секретариат по подготовке и проведению.
									p 26 декабря 2003 года назначен управляющим делами Московской патриархии. По назначении на должность управделами рассматривался церковными аналитиками как один из наиболее вероятных преемников патриарха Алексия II. 29 февраля 2004 года возведён патриархом Алексием II в сан митрополита.
									p Диакон-миссионер Андрей Кураев в январе 2009 года писал, что после назначения митрополита Климента на должность управляющего делами «московская церковная жизнь была поражена „юбилейной“ болезнью. Из центральной церковной прессы ушли любые проблемные материалы. Внутрицерковные дискуссии были приглушены до такой степени, что даже епископы не всегда могли понять логику действий высшей церковной власти, следствием чего и стал бунт чукотского епископа Диомида».
									p С 2005 года — председатель Международных образовательных рождественских чтений и председатель комиссии по их подготовке и проведению. С 2006 года по его инициативе и при его активном участии начались образовательные чтения в федеральных округах России.
									p В 2005—2010 годах — член Общественной палаты Российской Федерации, в том числе с января 2006 года — председатель комиссии по сохранению духовного и культурного наследия Общественной палаты Российской Федерации.
									p Возглавлял оргкомитет по подготовке и проведению Церковно-общественного форума «Духовно-нравственные основы демографического развития России» (октябрь 2004 года), I Фестиваля православных средств массовой информации «Вера и слово» (ноябрь 2004 года), празднования 625-летия Куликовской битвы (май—ноябрь 2005 года), празднования 90-летия восстановления Патриаршества в Русской православной церкви (октябрь—ноябрь 2007 года).
									p Председатель комиссии по проведению конкурса «За нравственный подвиг учителя» (2006—2009).
									p 25 января 2009 года Архиерейским собором РПЦ в Москве избран одним из трёх кандидатов на московский патриарший престол.
									p 27 января 2009 года на Поместном соборе РПЦ в Москве набрал 169 голосов из 677, уступив митрополиту Кириллу.
									p 31 марта 2009 года решением Священного синода был освобождён от должности управляющего делами Московского патриархата и назначен председателем издательского совета Московского патриархата.
									p 16 сентября 2014 года. Защита диссертации на тему «Русская Православная церковь и освоение Тихоокеанского севера в XVIII—XIX веках (по материалам Аляски)» на соискание учёной степени доктора исторических наук.
									p 21 января 2010 года решением диссертационного совета Российской академии государственной службы при Президенте Российской Федерации присуждена учёная степень кандидата исторических наук по результатам защиты диссертации на тему «Деятельность Русской православной церкви на Аляске в 1741—1867 гг.» (специальность «Отечественная история»).
									p 29 января 2010 года избран председателем комиссии Межсоборного присутствия Русской православной церкви по вопросам организации церковной социальной деятельности и благотворительности.
									p 22 марта 2011 года как глава издательского совета вошёл в состав возрождённого Высшего церковного совета Русской православной церкви.
									p 16 сентября 2014 года защитил диссертацию на соискание учёной степени доктора исторических наук на тему «Русская Православная Церковь и освоение Тихоокеанского севера в XVIII—XIX веках (по материалам Аляски)».
									p Член объединённого диссертационного совета Д 999.073.04 по теологии Общецерковной аспирантуры и докторантуры имени святых равноапостольных Кирилла и Мефодия, Православного Свято-Тихоновского гуманитарного университета, Московского государственного университета и Российской академии народного хозяйства и государственной службы при Президенте Российской Федерации.
									p 1 февраля 2017 года решением Священного синода включён в состав созданного тогда же организационного комитета по реализации программы общецерковных мероприятий к 100-летию начала эпохи гонений на Русскую православную церковь.
									p 15 октября 2018 года избран председателем комиссии Межсоборного присутствия Русской православной церкви по вопросам общественной жизни, культуры, науки и информации.
									strong Образование:
									p 1974 г. — Московская духовная семинария.
									p 1978 г. — Московская духовная академия (кандидат богословия).
									strong Труды и публикации:
									ul 
										li Духовный облик и поведение пастыря (кандидатская диссертация).
										li Архиепископ Калужский и Боровский Климент. В стране святых воспоминаний. Издательство Калужской духовной семинарии. 2004.
										li Речь при наречении во епископа Серпуховского. // ЖМП. 1982. № 10. С. 6; Братья Киреевские — путь христианского становления. // Иван и Петр Киреевские в русской культуре. Издательство Гриф. Калуга. 2001. С. 5-10.
										li Миссионерское служение Русской Православной Церкви на Аляске. // Богословско-исторический сборник. Издательство Калужской духовной семинарии. № 1. 2003. С. 35-78.
										li Святитель Иннокентий и рассвет православной миссии на Аляске. // Богословско-исторический сборник. Издательство Калужской духовной семинарии. № 2. 2004. С. 35-126.
										li Православная семья в становлении Российского государства. // Седьмые образовательные Богородично-Рождественские чтения. Сборник докладов. Обнинск. 2004. С. 5-9.
										li Мировоззрение и образ жизни современной молодежи. // Шестые образовательные Богородично-Рождественские чтения. Сборник докладов. Обнинск. 2004. С. 9-19.
										li Задачи православных СМИ и нравственная ответственность журналиста. // Материалы Первого международного фестиваля православных СМИ 16-18 ноября 2004 г. Издательский Совет Русской Православной Церкви. Москва. 2005. С. 37-49.
										li Благополучие общества состоит в твердости веры, в духовном, нравственном росте. // Духовно-нравственные основы демографического развития России (материалы церковно-общественного форума) 18-19 октября 2004 г. Москва. 2005. С. 11-18.
										li Русская Православная Церковь на Аляске до 1917 года. 2009. Монография.
										li Русская Православная Церковь и освоение Тихоокеанского севера в XVIII-XIX вв. (по материалам Аляски) (докторская диссертация).
									p Многочисленные публикации в центральной и местной печати — как церковной, так и светской.
									strong Награды
									p Церковные:
									ul 
										li 1986 г. — орден прп. Сергия Радонежского II ст.;
										li 1989 г. — орден прп. Германа Аляскинского (Православная Церковь в Америке);
										li 1996 г. — орден блгв. кн. Даниила Московского II ст.;
										li 1997 г. — орден Святогробского братства I ст. (Иерусалимская Православная Церковь);
										li 1998 г. — орден св. Климента Охридского I ст. (Болгарская Православная Церковь);
										li 1999 г. — орден свт. Иннокентия Московского II ст.;
										li 2000 г. — орден ап. Марка I ст. (Александрийская Православная Церковь);
										li 2000 г. — орден мч. Трифона II ст.;
										li 2004 г. — орден равноап. кн. Владимира II ст.;
										li 2007 г. — орден прп. Серафима Саровского II ст.;
										li 2009 г. — орден свт. Алексия Московского II ст.;
										li 2017 г. ― медаль «За жертвенные труды» (Ижевская епархия);
										li 2018 г. ― медаль «25 лет Кемеровской епархии»;
										li 2019 г. — орден блгв. кн. Даниила Московского III ст.;
										li 2019 г. — орден священноисповедника Николая Алма-Атинского (Митрополичий округ в Республике Казахстан);
										li 2019 г. — Патриаршая грамота;
										li 2019 г. — медаль «За усердные труды на ниве духовного просвещения» I ст. (Учебный комитет Русской Православной Церкви);
										li 2022 г. — орден прп. Серафима Саровского I ст.;
										li 2024 г. — орден свт. Кирилла Туровского I ст. (БПЦ);
										li 2024 г. — орден свт. Макария Московского I ст.;
										li 2025 г. — медаль «За усердные труды» (Магаданская епархия).
									p Светские:
									ul 
										li 1997 г. — медаль 850-летия Москвы;
										li 1988 г. — орден Дружбы народов;
										li 2000 г. — орден Почета;
										li 2001, 2003 гг. — национальная премия Русского биографического института по номинации «Человек года»;
										li 2014 г. — национальная премия «Лучшие книги и издательства года — 2013» за развитие книгоиздательского дела;
										li 2016 г. — медаль «120 лет со дня рождения Г.К. Жукова»;
										li 2018 г. — орден им. министра внутренних дел Российской империи В.К. Плеве;
										li 2019 г. — орден «За заслуги перед Отечеством» III ст.;
										li 2019 г. — почетный памятный знак «Орден Вифлиемская звезда» (ИППО);
										li 2019 г. — орден Российского книжного союза;
										li 2019 г. — почетный знак губернатора Калужской области «За личный вклад в развитие Калужской области»;
										li 2021 г. — памятный знак «270 лет со дня рождения Германа Аляскинского»;
										li 2024 г. — почетный знак памяти императора Александра III (ИППО);
										li 2024 г. — орден «За заслуги перед Отечеством» II ст.;
										li 2025 г. — почетный знак «За заслуги в литературе» (Союз писателей России).