.section-about._container
	.mask-render
		.bg-bottom 
	._body 
		.bg-grad 
		.bg-top 
		._content 
			._column
				nav._menu 
					ul._list 
						li 
							a(href="@@webRoot/blagochinie/about.html")._link.link_underline О благочинии
						li 
							a(href="@@webRoot/blagochinie/duhovenstvo.html")._link.link_underline Духовенство
						li 
							a(href="@@webRoot/blagochinie/patriarh.html")._link.link_underline Патриарх
						li 
							span._link.link-hover Правящий архиерей
			._column 
				._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline Главная
							li 
								+iconfont('angle-right', '_icon') 
							li
								span._item Правящий архиерей
				hgroup.title.tl-02._title 
					h2 
						span Митрополит Калужский
						span и Боровский Климент
				.hr 
					img(src="@@webRoot/img/frame/hr.png" alt="image") 