.section-about._container 
	.mask-render
		.bg-bottom 
	._body
		.bg-grad 
		.bg-top 
		._content
			._column
				nav._menu 
					ul._list 
						li 
							a(href="@@webRoot/blagochinie/about.html")._link.link_underline О благочинии
						li 
							span._link.link-hover Духовенство
						li 
							a(href="@@webRoot/blagochinie/patriarh.html")._link.link_underline Патриарх
						li 
							a(href="@@webRoot/blagochinie/arhierey.html")._link.link_underline Правящий архиерей
			._column
				._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline Главная
							li 
								+iconfont('angle-right', '_icon')
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline О благочинии
							li 
								+iconfont('angle-right', '_icon')
							li
								span._item Духовенство
				hgroup.title.tl-02._title 
					h2 
						span Духовенство 
				.hr 
					img(src="@@webRoot/img/frame/hr.png" alt="") 
				.gallery
					._top 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/sergiy-vishnyakov.png" alt="image")
							._info 
								._post 
									p Благочинный Протоиерей
									span 3-его благочиния г. Обнинска
								._name.t-019  
									strong Сергий Вишняков
								._text Настоятель храма в честь мучениц Веры, Надежды, Любови и матери их Софии
								a(href="#")._link.link_underline 
									span Подробнее
					._second 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/igor-gornya.png" alt="Игорь Горня")
							._info  
								._post Иерей
								._name.t-019  
									strong Игорь Горня
								._text Настоятель Храма в честь Рождества Христова
								a(href="#")._link.link_underline 
									span Подробнее
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/pavel-sinicin.png" alt="Павел Синицын ")
							._info  
								._post Протоиерей
								._name.t-019  
									strong Павел Синицын 
								._text Настоятель Храма Святителя Тихона
								a(href="#")._link.link_underline 
									span Подробнее
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/alexey-polyakov.png" alt="Алексий Поляков")
							._info  
								._post Протоиерей 
								._name.t-019  
									strong Алексий Поляков
								._text Настоятель Храма в честь свв. блгв. кнн. Бориса и Глеба
								a(href="#")._link.link_underline 
									span Подробнее
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/serg-dimyanov.png" alt="Сергий Демьянов")
							._info  
								._post Протоиерей 
								._name.t-019  
									strong Сергий Демьянов
								._text Настоятель Храма в честь Преображения Господня в селе Спас-Загорье
								a(href="#")._link.link_underline 
									span Подробнее
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/dmitriy-moiseev.png" alt="Димитрий Моисеев")
							._info  
								._post Протоиерей
								._name.t-019  
									strong Димитрий Моисеев
								._text Настоятель Храма в&nbsp;честь равноапостольных князя&nbsp;Владимира и&nbsp;княгини Ольги
								a(href="#")._link.link_underline 
									span Подробнее
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/georg-krivenko.png" alt="Георгий Кривенко")
							._info  
								._post Протоиерей  
								._name.t-019 
									strong Георгий Кривенко
								._text Штатный клирик Храма в&nbsp;честь мучениц Веры, Надежды, Любови и&nbsp;матери их&nbsp;Софии
								a(href="#")._link.link_underline  
									span Подробнее
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/pavel-seredin.png" alt="Павел Середин")
							._info  
								._post Протоиерей 
								._name.t-019 
									strong Павел Середин
								._text Настоятель Храма в&nbsp;честь великомученика и&nbsp;целителя&nbsp;Пантелеимона
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/serg-balahonov.png" alt="Сергий Балахонов")
							._info  
								._post Протоиерей 
								._name.t-019 
									strong Сергий Балахонов
								._text Штатный клирик Храма в&nbsp;честь равноапостольных князя&nbsp;Владимира и&nbsp;княгини&nbsp;Ольги
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/vladimir-voitov.png" alt="Владимир Войтов")
							._info  
								._post Протоиерей 
								._name.t-019 
									strong Владимир Войтов
								._text Штатный клирик Храма в&nbsp;честь Рождества Христова
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/vitaliy-shatohin.png" alt="Виталий Шатохин")
							._info  
								._post Иерей  
								._name.t-019 
									strong Виталий Шатохин
								._text Штатный клирик Храма в&nbsp;честь Рождества Христова
								a(href="#")._link.link_underline  
									span Подробнее  
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/pavel-kuznecov.png" alt="Павел Кузнецов")
							._info  
								._post Иерей  
								._name.t-019 
									strong Павел Кузнецов
								._text Настоятель Храма в&nbsp;честь Спаса&nbsp;Нерукотворного при&nbsp;казачей общине "Спас", клирик храма в&nbsp;честь святителя&nbsp;Тихона, патриарха Москавского и&nbsp;всея&nbsp;Руси
								a(href="#")._link.link_underline  
									span Подробнее   
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/igor-martinov.png" alt="Игорь Мартынов")
							._info  
								._post Иерей  
								._name.t-019 
									strong Игорь Мартынов
								._text Настоятель Храма в&nbsp;честь Луки архиепископа Крымского и&nbsp;Симферопольского 
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/alexei-parshilhin.png" alt="Алексий Паршилкин")
							._info  
								._post Иерей  
								._name.t-019 
									strong Алексий Паршилкин
								._text Настоятель Храма в&nbsp;честь благоверных князя&nbsp;Петра и&nbsp;княгини&nbsp;Февронии
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/evg-kandibin.png" alt="Евгений Кандыбин")
							._info  
								._post Иерей  
								._name.t-019 
									strong Евгений Кандыбин
								._text Штатный клирик в&nbsp;честь мучениц&nbsp;Веры, Надежды, Любови и&nbsp;матери их&nbsp;Софии
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/boris-titov.png" alt="Борис Титов")
							._info  
								._post Иерей  
								._name.t-019 
									strong Борис Титов
								._text Штатный клирик Храма в&nbsp;честь Рождества Христова
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/alexandr-sorokin.png" alt="Александр Сорокин")
							._info  
								._post Иерей  
								._name.t-019 
									strong Александр Сорокин
								._text Штатный клирик Храма в&nbsp;честь мучениц&nbsp;Веры, Надежды, Любови и&nbsp;матери их&nbsp;Софии
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/yaroslav-chaikin.png" alt="Ярослав Чайкин")
							._info  
								._post Иерей  
								._name.t-019 
									strong Ярослав Чайкин
								._text Штатный клирик Храма в&nbsp;честь Преображения Господня в&nbsp;селе Спас-Загорье
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/dmitriy-shatov.png" alt="Димитрий Шатов")
							._info  
								._post Иерей  
								._name.t-019 
									strong Димитрий Шатов
								._text Штатный клирик Храма в&nbsp;честь Рождества Христова
								a(href="#")._link.link_underline  
									span Подробнее 
						.gallery-item._card 
							._image._img 
								img(src="@@webRoot/img/foto/alexandr-ponomarev.png" alt="Александр Пономарев")
							._info  
								._post Протоиерей   
								._name.t-019 
									strong Александр Пономарев
								._text Штатный клирик Храма в&nbsp;честь Рождества Христова
								a(href="#")._link.link_underline  
									span Подробнее 
