.section-greed._container
	._body
		.mask-render
		.bg-grad
		._content
			._column
				nav._menu
					ul._list
						li._item
							a(href="@@webRoot/blagochinie/about.html")._link.link_underline О благочинии
						ul._sub-menu
							li._sub-item
								span._link.link-hover Храмы благочиния 
							li._sub-item
								a(href="@@webRoot/blagochinie/duhovenstvo.html")._link.link_underline Духовенство
						li._item
							a(href="@@webRoot/blagochinie/patriarh.html")._link.link_underline Патриарх
						li._item
							a(href="@@webRoot/blagochinie/arhierey.html")._link.link_underline Правящий архиерей
			._column
				._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline Главная 
							li
								+iconfont('angle-right', '_icon')
							li
								a(href="@@webRoot/blagochinie/about.html" title="О благочинии")._link.link_underline О благочинии
							li
								+iconfont('angle-right', '_icon')
							li
								span Храмы благочиния 
				._title#1
					hgroup.title.tl-02
						h2
							span Храм в честь Рождества&nbsp;Христова
					.hr
						img(src="@@webRoot/img/frame/hr.png" alt="image")
				._row
					.info-content
						._column
							.gallery
								._top
									.gallery-item._card
										._image._img
											img(src="@@webRoot/img/foto/igor-gornya.png" alt="Игорь Горня")
										._info
											._post Иерей
											._name.t-019
												strong Игорь Горня
											._text Настоятель Храма в честь Рождества Христова
											a(href="#")._link.link_underline
												span Подробнее
							._row
								._image.left
									img(src="@@webRoot/img/foto/hram_church.jpg" alt="Храма в честь Рождества Христова")
								p Храм приходской, имеет четыре престола: центральный престол в честь Рождества Христова.
								p Северный придел – в честь святителя Николая, архиепископа Мир Ликийских чудотворца.
								p Южный придел в честь иконы Божией Матери «Державная».
								p Престол нижнего придела – в честь св. Иоанна Предтечи, Крестителя Господня.
								p Все престолы, кроме нижнего в крестильном храме в честь св. Иоанна Предтечи, освящены архиерейским чином митрополитом Калужским и Боровским Климентом в сослужении архиепископа Людиновского Георгия 15 марта 2009 года.
								p Исторические сведения:
								p Приход вновь созданный. В 2012 году отметил 10 лет.
								p В 1991 г. обнинские прихожане выдвинули инициативу строительства в центре города соборной церкви. Проект был осуществлен городским архитектором М.М.Белоусовым.
								p 1998 г.Весной был установлен памятный креста в сквере на месте будущего строительства храма. В мае начались строительные работы. В декабре был завершен нулевой цикл.
								p 29.06. – освящение строительства Святейшим Патриархом Московским и всея Руси Алексием II во время официального визита на Калужскую землю по случаю празднования 200-летия учреждения Калужской епархии.
								p Митрополит Калужский и Боровский Климент в сослужении с архиепископом Людиновским Георгием и собором духовенства совершил освящение трех престолов храма: центрального престола в честь Рождества Христова, престола северного придела в честь свт. Николая Мир-Ликийского и престола южного придела в честь иконы Божией Матери «Державная».
								strong Современная жизнь прихода:
								p В храме регулярно отправляются богослужения суточного круга.
								p При храме действует Духовно-просветительский Центр.
								p Клирики храма принимают активное участие в межприходских и городских мероприятиях. Налажена и хорошо ведется социальная работа Проводится активная миссионерская и просветительская работа с горожанами.
								strong Расписание богослужений храма Рождества Христова:
								p Начало Божественной Литургии в 9:00; 
								p в воскресные и праздничные дни две Литургии: в 7:00 и 9:30.
								p В 17:00 Вечернее богослужение.
								p Начало исповеди в 16:45.
								p Божественная Литургия служится каждый день.
				._title#2
					hgroup.title.tl-02
						h2
							span Храм в&nbsp;честь свв.&nbsp;блгв. кнн.&nbsp;Бориса и&nbsp;Глеба
					.hr
						img(src="@@webRoot/img/frame/hr.png" alt="image")
				._row
					.info-content
						._column
							.gallery
								._top
									.gallery-item._card
										._image._img
											img(src="@@webRoot/img/foto/alexey-polyakov.png" alt="Алексий Поляков")
										._info
											._post Протоиерей 
											._name.t-019
												strong Алексий Поляков
											._text Настоятель Храма в честь свв. блгв. кнн. Бориса и Глеба
											a(href="#")._link.link_underline
												span Подробнее
							._row
								._image.left
									img(src="@@webRoot/img/foto/hram_boris_gleb.jpg" alt="Храма в честь Рождества Христова")
								p Престол освящен в честь св. Бориса и Глеба священническим чином прот. Вячеславом Полосиным в 1988 году.  Второй антиминс получен в 1999 году, в 2000 году по благословению Его высокопреосвященства митр. Климента передан прот. Александру Эггерсу для совершения богослужений в с. Кудиново.
								strong Исторические сведения:
								p История храма  <strong>св. Бориса и Глеба </strong> связана с историей самого села Белкино Первое письменное упоминание о с. Белкино относится к 1589 году.
								p В это время построены каменная церковь, трехэтажный барский дом с флигелями
								strong Современная жизнь прихода:
								p Богослужения совершаются еженедельно по субботам воскресным дням и праздникам. При храме действует воскресная школа, библиотека, хорошо развита паломническая служба и молодежное движение. Много внимание уделено социальному направлению.
								strong Расписание богослужений храма Святых Бориса и Глеба:
								p Богослужения в храме совершаются еженедельно:
								p Среда 18.оо вечерня
								p Пятница 18.оо вечерня
								p Суббота 8.зо панихида, Литургия
								p 18.оо всенощное бдение
								p Воскресенье 8.зо молебен, Литургия. 
								p Кроме того богослужения совершаются в великие праздники, дни памяти почитаемых  святых. Накануне – всенощное бдение, в день праздника –Литургия.
