extends @/pug/layouts/app_layout
append link 
prepend script 
block title
	- var text='Социальное служение'

block main-content-items 
	section.main-content__section.section-top
		include @/pug/section/church/section-social