@use 'sass:string'; // Импортируем модуль string
$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-unlink: string.unquote('"\\f127"');
$icon-krest: string.unquote('"\\e900"');
$icon-krest-color: string.unquote('"\\e902"');
$icon-arow-down: string.unquote('"\\e90a"');
$icon-angle-left: string.unquote('"\\f104"');
$icon-angle-right: string.unquote('"\\f105"');
$icon-angle-up: string.unquote('"\\f106"');
$icon-angle-down: string.unquote('"\\f107"');
$icon-volume-control-phone: string.unquote('"\\f2a0"');
$icon-plus: string.unquote('"\\e911"');
$icon-check: string.unquote('"\\e90f"');
$icon-file-download: string.unquote('"\\e910"');
$icon-angles-left-solid: string.unquote('"\\e94c"');
$icon-angles-right-solid: string.unquote('"\\e94f"');
$icon-angles-up-solid: string.unquote('"\\e94d"');
$icon-angles-down-solid: string.unquote('"\\e94e"');
$icon-contacts: string.unquote('"\\e901"');
