.section-schedule#schedule._container 
	.section-schedule__body
		.bg-top
		.bg-grad
		hgroup.title.tl-02.section-schedule__title 
			h2 
				span Православный календарь
		.hr 
			+picture('/img/frame/hr.png', 'image') 
		.slide.section-schedule__slide-schedule
			.slide__body.slide-schedule._swiper 
				.slide__slide-column.title-red  
					.slide__title
						strong Воскресенье
						span 27 марта 2025
					.hr 
						+picture('/img/frame/hr.png', 'image') 
					.slide__content-slide 
						.slide__item 
							.slide__text 
								p
									strong Седмица 5-я Великого поста
								span Утро
							.slide__time 
								span 07.00
								span Ранняя литургия
							.slide__time 
								span 09.00 Исповедь
								span Поздняя литургия
						.slide__item 
							.slide__text  
								span Вечер 
							.slide__time 
								span 17.00
								span Вечерня, акафист Страстям Христовым (III Пассия). Вынос Ризы Господней и Гвоздя.
				.slide__slide-column 
					.slide__title
						strong Понедельник
						span 27 марта 2025
					.hr 
						+picture('/img/frame/hr.png', 'image') 
					.slide__content-slide
						.slide__item 
							.slide__text 
								p 
									strong Седмица 5-я Великого поста
								span Утро 
							.slide__time 
								span 08.00
								span Часы, изобразительны, вечерня.
						.slide__item 
							.slide__text 
								span Вечер 
							.slide__time 
								span 09.00
								span Великое повечерие, утреня. 
				.slide__slide-column
					.slide__title
						strong Вторник
						span 27 марта 2025
					.hr 
						+picture('/img/frame/hr.png', 'image') 
					.slide__content-slide 
						.slide__item 
							.slide__text 
								p
									strong Седмица 5-я Великого поста
								span Утро 
							.slide__time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						.slide__item 
							.slide__text  
								span Вечер 
							.slide__time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				.slide__slide-column 
					.slide__title
						strong Среда
						span 27 марта 2025
					.hr 
						+picture('/img/frame/hr.png', 'image') 
					.slide__content-slide 
						.slide__item 
							.slide__text 
								p
									strong Седмица 5-я Великого поста
								span Утро
							.slide__time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						.slide__item 
							.slide__text  
								span Вечер 
							.slide__time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				.slide__slide-column 
					.slide__title
						strong Четверг
						span 27 марта 2025
					.hr 
						+picture('/img/frame/hr.png', 'image') 
					.slide__content-slide 
						.slide__item 
							.slide__text 
								p
									strong Седмица 5-я Великого поста
								span Утро 
							.slide__time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						.slide__item 
							.slide__text 
								span Вечер
							.slide__time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
				.slide__slide-column 
					.slide__title
						strong Пятница
						span 27 марта 2025
					.hr 
						+picture('/img/frame/hr.png', 'image') 
					.slide__content-slide 
						.slide__item 
							.slide__text 
								p
									strong Седмица 5-я Великого поста
								span Утро 
							.slide__time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
						.slide__item 
							.slide__text 
								span Вечер 
							.slide__time 
								span 09.00
								span Великое повечерие, утреня.
				.slide__slide-column 
					.slide__title
						strong Суббота
						span 27 марта 2025
					.hr 
						+picture('/img/frame/hr.png', 'image') 
					.slide__content-slide 
						.slide__item 
							.slide__text 
								p
									strong Седмица 5-я Великого поста
								span Утро 
							.slide__time 
								span 09.00
								span Всенощное бдение.
						.slide__item 
							.slide__text 
								span Вечер 
							.slide__time 
								span 09.00
								span Исповедь, литургия Преждеосвященных Даров.
			.navigation
				.navigation__button-prev.slide-schedule-prev 
					span 
						img(src="/img/frame/arrow.png" alt="image")
				.navigation__button-next.slide-schedule-next 
					span 
						img(src="/img/frame/arrow.png" alt="image")
