.section-intro._container 
  .section-intro__body
    .section-intro__content
      .blagochinie.section-intro__row 
        .blagochinie__column 
          hgroup.title.tl-01 
            h2 
              span О Благочинии 
            .blagochinie__text
              p К 3-ему благочинию относятся храмы города Обнинск и&nbsp;Спас-Загорье Малоярославецкого района  
              p В благочинии 3-го округа состоят восемь приходов, на&nbsp;которых несут послушание 18&nbsp;священнослужителей (15&nbsp;священников и&nbsp;2&nbsp;дьякона)(один священник за&nbsp;штатом): 
        .blagochinie__column  
          .blagochinie__photo
            +picture('/img/photo/blagochin.png', 'image') 
        .blagochinie__column 
          .blagochinie__info
            p Благочинный протоиерей <br> Сергий Вишняков. 
            p.t-01901 Настоятель Храма ВЕРЫ НАДЕЖДЫ ЛЮБОВИ и&nbsp;матери их&nbsp;СОФИИ.
            //- p.t-01901  Храм в честь иконы Божьей Матери «ДОСТОЙНО ЕСТЬ»
          .hr.blagochinie__hr 
            +picture('/img/frame/hr.png', 'image') 
          .blagochinie__button
            a(href="").button.gradient-button.btn-grad 
              span Подробнее 
        .blagochinie__column  
          .blagochinie__bg-image 
        .bg-bottom
