.perform.el-opacity
	.mask-render 
	.bg-clip.perform__bg-clip 
		.bg-clip__item 
		.bg-clip__item 
	.bg-bottom 
	.perform__body.top-box
		.perform__container
			.perform__content
				.perform__row.tr-row-01
					.perform__column.el-1 
						hgroup.hgroup-items.title 
							h1.hgroup-items__item.t-h1
								span Благочиние
								span города Обнинска
							.hgroup-items__item.bounce-01
								.hgroup-items__text.t-019
									p Русская Православная Церковь
									p Калужская митрополия
									p Калужская епархия
					.perform__column.el-3 
						._date
					.perform__column
						.perform__slide-perform
							include @/pug/chunks/slide-perform

