.section-temples#temples._container 
	.bg-top 
	.section-temples__body
		hgroup.title.tl-02.section-temples__title 
			h2 
				span Храмы благочиния
		.hr 
			+picture('/img/frame/hr.png', 'image') 
		.section-temples__content
			.slide-temples 
				.slide-temples__body.temples-slide._swiper
					a(href="https://hramrh.ru/").slide-temples__slide 
						.slide-temples__image._img
							+picture('/img/photo/hram_church.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм в&nbsp;честь Рождества Христова
					a(href="https://belkino.su/").slide-temples__slide 
						.slide-temples__image._img
							+picture('/img/photo/hram_boris_gleb.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм в&nbsp;честь свв.&nbsp;блгв. кнн.&nbsp;Бориса и&nbsp;Глеба
					a(href="https://vera-obninsk.ru/").slide-temples__slide 
						.slide-temples__image._img
							+picture('/img/photo/hram_vera_nad.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм Веры, Надежды, Любови и&nbsp;матери их&nbsp;Софии
					a(href="http://shram-st.ru/").slide-temples__slide 
						.slide-temples__image._img
							+picture('/img/photo/hram_sv_tihona.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм Святителя Тихона 
					a(href="http://hramsvtluki.ru").slide-temples__slide 
						.slide-temples__image._img 
							+picture('img/photo/hram_sv_luki.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм в честь святителя Луки
					a(href="#").slide-temples__slide 
						.slide-temples__image._img 
							+picture('img/photo/hram_vladimira_olgi.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Молитвенный дом в&nbsp;честь святых равноапостольных великого князя Владимира и&nbsp;великой княгини&nbsp;Ольги
					a(href="http://www.hrampg.ru").slide-temples__slide 
						.slide-temples__image._img 
							+picture('img/photo/hram_preobr.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм в&nbsp;честь Преображения Господня
					a(href="#").slide-temples__slide 
						.slide-temples__image._img 
							+picture('img/photo/hram_panteleimona.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм в&nbsp;честь святого великомученика и&nbsp;целителя Пантелеймона
					a(href="http://www.mirspas.ru/").slide-temples__slide 
						.slide-temples__image._img 
							+picture('img/photo/hram_spas_nerukotv.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм в&nbsp;честь Спаса Нерукотворного (при&nbsp;казачьей общине&nbsp;«Спас»)
					a(href="#").slide-temples__slide 
						.slide-temples__image._img 
							+picture('img/photo/hram_petra.jpg', 'image') 
							.slide-temples__img-content
								.slide-temples__info Храм благоверных Петра и&nbsp;Февронии Муромских
				.slide-temples__navigation
					.slide-temples__button-prev 
						span 
							img(src="/img/frame/arrow.png" alt="image")
					.slide-temples__button-next 
						span 
							img(src="/img/frame/arrow.png" alt="image")




