.section-greed._container
	.section-greed__body
		.mask-render
		.bg-grad
		.section-greed__content
			.section-greed__column 
			.section-greed__column
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li.bread-crumbs__item
								a(href=getWebRoot(filename) + "index.html" aria-label="home" title="Главная").bread-crumbs__link.link_underline Главная 
							li.bread-crumbs__item
								+iconfont('angle-right', '_icon') 
							li.bread-crumbs__item
								span Реквизиты храма
				.section-greed__row 
					hgroup.title.tl-02.section-greed__title
						h2
							span Реквизиты храма
					.info-content 
						.info-content__column
							.info-content__row 
								h3.t-h3 Русская Православная Церковь Калужская  епархия
								.hr
									+picture('/img/frame/hr.png', 'image') 
								h4 Название организации:
								p Местная православная религиозная организация приход в честь Преображения Господня в с. Спас-Загорье Малоярославецкого района Калужской епархии Русской Православной Церкви
								h4 Руководитель:
								p Настоятель прихода Преображения Господня в с. Спас — Загорье протоиерей Сергий Демьянов (Демьянов Сергей Юрьевич)
								p Действует на основании Устава
								h4 Адрес:
								p 249052, Калужская область, Малоярославецкий район, село Спас-Загорье, ул. Центральная, д. 39
								h4 Банковские реквизиты:
								ul 
									li ИНН 4011010470
									li КПП 401101001
									li Р/С 40703810111479000004
									li Банк ВТБ (ПАО)
									li К/С 30101810145250000411
									li БИК 044525411
								h4 Коды:
								ul 
									li ОКПО 51147940
									li ОКАТО 29223840000
									li ОКВЭД 91.31
									li ОКОПФ 83
									li ОКФС 54
								h4 Пожертвовать денежные средства храму
								p Вы можете пожертвовать денежные средства нашему храму используя QR-код. Просто отсканируйте данный QR-код и переведите пожертвование через приложение Вашего банка.
								.hr
									+picture('/img/frame/hr.png', 'image') 