extends ../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/duhovenstvo.min.css")
prepend script
	script(defer="defer" src="@@webRoot/js/index.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/runtime.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/anime-vendors.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/react-vendors.min.js")
block title
	- var text='Духовенство'

block main-content-items 
	section.main-content__section 
		.main-content__bread-crumbs
			nav.bread-crumbs._container
				ul._list
					li
						a(href="@@webRoot/index.html" title="/ Главная")._link.link_underline Главная
					li 
						+iconfont('angle-right', '_icon')
					li
						span._item Духовенство
		include ../section/section-duhovenstvo  
//- block main-content 
	section.main-content__section
		include ../section/section-performance

		//- include ../section/blog-slider
//- block main-content-items  
//- section.main-content__section
	.main-content__bread-crumbs
		include ../chunks/bread-crumbs
//- section.main-content__section
	include ../section/section-news
//- section.main-content__section 
	include ../section/section-temples 
//- section.main-content__section 
	include ../section/section-website 
//- section.main-content__section 
	include ../section/section-schedule 