extends ../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script
	script(defer="defer" src="@@webRoot/js/index.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/runtime.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/anime-vendors.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/react-vendors.min.js")
block title
	- var text='Официальный сайт 3го благочиния города Обнинска'

block main-content-sections 
	section.main-content__section#about 
		include ../section/section-intro 
	.hr 
		img(src="@@webRoot/img/frame/hr.png" alt="")
	section.main-content__section#temples 
		include ../section/section-slide-temples 
	section.main-content__section
		//- include ../section/section-temples 
	.hr 
		img(src="@@webRoot/img/frame/hr.png" alt="")
//- block content-hidden
	include ../chunks/content-hidden
