extends ../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script
	script(defer="defer" src="@@webRoot/js/index.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/runtime.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/anime-vendors.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js")
block title
	- var text='Официальный сайт 3го благочиния города Обнинска'

block main-content 
	section.main-content__section.hidden
		include ../section/section-performance 
block main-content-items 
	section.main-content__section#about 
		include ../section/section-intro 
	section.main-content__section
		include ../section/section-news
	section.main-content__section 
		include ../section/section-temples 
	section.main-content__section  
		include ../section/section-website 
	section.main-content__section  
		include ../section/section-schedule 
