extends ../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/news.min.css")
prepend script
	script(defer="defer" src="@@webRoot/js/index.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/runtime.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/anime-vendors.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/react-vendors.min.js")
block title
	- var text='Официальный сайт 3го благочиния города Обнинска'



block main-content-items 
	section.main-content__section 
		.main-content__bread-crumbs
			include ../chunks/bread-crumbs
		include ../section/section-news
	section.main-content__section 
		//- include ../section/section-temples 
	section.main-content__section  
		//- include ../section/section-website 
	section.main-content__section  
		//- include ../section/section-schedule 
		//- .hr
			img(src="@@webRoot/img/frame/hr.png" alt="")
//- block content-hidden
	include ../chunks/content-hidden
