.section-about._container
	._body 
		.bg-grad 
		.bg-top 
		._content 
			._column
				nav._menu 
					ul._list 
						li 
							span._link.link-hover О благочинии
						li 
							a(href="@@webRoot/blagochinie/duhovenstvo.html")._link.link_underline Духовенство
						li 
							a(href="@@webRoot/blagochinie/patriarh.html")._link.link_underline Патриарх
						li 
							a(href="@@webRoot/blagochinie/arhierey.html")._link.link_underline Правящий архиерей
			._column 
				._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline Главная
							li 
								+iconfont('angle-right', '_icon')
							li
								span О благочинии
				hgroup.title.tl-02._title 
					h2 
						span О благочинии
				.hr 
					img(src="@@webRoot/img/frame/hr.png" alt="image") 