extends @/pug/layouts/app_layout
append link 
prepend script 
block title
	- var text='Изучение творений святых отцов'

block main-content-items 
	section.main-content__section.section-top
		include @/pug/section/church/shkola/izuchenie-svyatyih-ottsov