extends @/pug/layouts/app_layout
append link 
prepend script 
block title
	- var text='Любовь к ближним'

block main-content-items 
	section.main-content__section.section-top
		include @/pug/section/church/shkola/lyubov-k-blizhnim