extends ../../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/about.min.css")
prepend script
	script(defer="defer" src="@@webRoot/js/index.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/runtime.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/anime-vendors.min.js")
	script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js") 
block title
	- var text='Правящий архиерей'

block main-content-items 
	section.main-content__section.section-top
		include ../../section/blagochinie/section-arhierey