$icomoon-font-family: "icon-set" !default;
$icomoon-font-path: "fonts" !default;

$icon-scroll-auto: unquote('"\\e902"');
$icon-scrol-horizontal: unquote('"\\e903"');
$icon-horizontal-scroll-hand: unquote('"\\e905"');
$icon-snow: unquote('"\\e90d"');
$icon-whatsapp: unquote('"\\f232"');
$icon-vk-brand: unquote('"\\f189"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-sun: unquote('"\\f185"');
$icon-unlink: unquote('"\\f127"');
$icon-arow-down: unquote('"\\e90a"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-angle-up: unquote('"\\f106"');
$icon-angle-down: unquote('"\\f107"');
$icon-volume-control-phone: unquote('"\\f2a0"');
$icon-cross-middle: unquote('"\\e944"');
$icon-phone-ringing: unquote('"\\e904"');
$icon-git-hub-circle: unquote('"\\e921"');
$icon-angles-left-solid: unquote('"\\e94c"');
$icon-angles-right-solid: unquote('"\\e94f"');
$icon-angles-up-solid: unquote('"\\e94d"');
$icon-angles-down-solid: unquote('"\\e94e"');
$icon-contacts: unquote('"\\e901"');
$icon-search: unquote('"\\e900"');
$icon-plus: unquote('"\\e911"');
$icon-check: unquote('"\\e90f"');
$icon-file-download: unquote('"\\e910"');

