form(action="#" method="post" id="quick-search").form-search 
  ._search-box 
    label(for="site-search") 
    input(class="" id="site-search" type="text" name="search" placeholder="Поиск по сайту..." autocomplete="off")._search.input 
    button(type="submit")._search-button  
      +iconfont('search', '_search') 