@use '../core/all' as *;

.hamburger {
	cursor: pointer;
	// .hamburger__line
	&__line {
		width: 50px;
		height: 5px;
		background-color: $background-color;
		display: block;
		margin: 8px auto;
		transition: all 0.3s ease-in-out;
	}

	&.is-active {
		.hamburger__line {
			background-color: $font-color-link;
			&:nth-child(1) {
				transform: translateY(13px);
			}

			&:nth-child(3) {
				transform: translateY(-13px);
			}
		}
	}
}
