extends @/pug/layouts/app_layout
append link 
prepend script 
block title
	- var text='Новости благочиния'

block main-content-items 
	section.main-content__section.section-top 
		include @/pug/section/news/section-allnews