nav.burger-menu.accelerate.hide
	.burger-menu__body.accelerate
		.burger-menu__content.accelerate
			.burger-menu__menu.accelerate
				.burger-menu__menu-header.bp-2
					h1 parallax 
						em .js
				.burger-menu__menu-content.bp-1
					//- .text WOW, that's deep man! <strong> parallax.js</strong> reacts to the orientation of your smart device, offsetting layers depending on their depth within a scene... Oh, you don't have a smart device? No worries, if no gyroscope or motion detection hardware is available,  <strong> parallax.js</strong> uses the position of your cursor instead. Radical. 
					//- .text WOW, that's deep man! <strong> parallax.js</strong> reacts to the orientation of your smart device, offsetting layers depending on their depth within a scene... Oh, you don't have a smart device? No worries, if no gyroscope or motion detection hardware is available,  <strong> parallax.js</strong> uses the position of your cursor instead. Radical. 
					//- .text WOW, that's deep man! <strong> parallax.js</strong> reacts to the orientation of your smart device, offsetting layers depending on their depth within a scene... Oh, you don't have a smart device? No worries, if no gyroscope or motion detection hardware is available,  <strong> parallax.js</strong> uses the position of your cursor instead. Radical. 
				.burger-menu__menu-footer
					.burger-menu__network
						.burger-menu__network-links
							a(href="https://github.com/Dennchik" target="_blank").burger-menu__icon-link
								+iconfont('git-hub-circle', '_icon')
							a(href="https://t.me/allexandrw" target="_blank").burger-menu__icon-link
								+iconfont('telegram-fly', '_icon')
							a(href="https://wa.me/79852605079" target="_blank").burger-menu__icon-link
								+iconfont('whatsapp', '_icon')