.footer#contacts._container
	.footer__body 
		.footer__content
			.footer__column
				.footer__title
					h2.t-h1
						span Благочиние 
						span г. Обнинска 
			.footer__column
				.navigation-footer
					.navigation-footer__body 
						.navigation-footer__item
							.navigation-footer__title
								strong О Благочинии
							ul.navigation-footer__list 
								li.navigation-footer__item-list
									a(href=linkTo('church/church', filename)).link_underline Церковь 
								li.navigation-footer__item-list
									a(href=linkTo('blagochinie/temples', filename)).link_underline Храмы благочинии 
								li.navigation-footer__item-list
									a(href=linkTo('news', filename)).link_underline Новости 
								li.navigation-footer__item-list
									a(href=linkTo('blagochinie/about', filename)).link_underline О благочинии 
								li.navigation-footer__item-list
									a(href="#").link_underline Документы
								li.navigation-footer__item-list
									a(href="#").link_underline Воскресная школа для детей
						.navigation-footer__item
							.navigation-footer__title
								strong О вере и церкви
							ul.navigation-footer__list 
								li.navigation-footer__item-list
									a(href="#").link_underline Верую
								li.navigation-footer__item-list
									a(href="#").link_underline Пасха
								li.navigation-footer__item-list
									a(href="#").link_underline Крещение
								li.navigation-footer__item-list
									a(href="#").link_underline Венчание
								li.navigation-footer__item-list
									a(href="#").link_underline Двунадесятые праздники
			.footer__column
				.footer__item
					p 3-е благочиние Русская 
						strong Православная Церковь Калужская митрополия, Калужская епархия.
					p Обращаться по телефону: 
						span (48439) 4-44-44, 
						span 8-333-22-33-11  
			.footer__column
				.footer__hr
					.hr 
						+picture('/img/frame/hr.png', 'image') 
				.footer__copyrite
					p © 2025. 3-e Благочиние г. Обнинска


