.section-greed._container 
	._body 
		.mask-render
		.bg-grad 
		.bg-top 
		._content 
			._column
				nav._menu 
					ul._list 
						li._item 
							a(href="@@webRoot/church/church.html")._link.link_underline Церковь
						ul._sub-menu 
							li._sub-item  
								a(href="@@webRoot/church/church-history.html")._link.link_underline  Церковь в истории
							li._sub-item 
								span._link.link-hover Епархиальная и приходская жизнь
							li._sub-item 
								a(href="@@webRoot/church/social.html")._link.link_underline Социальное служение
							li._sub-item 
								a(href="@@webRoot/church/catechesis.html")._link.link_underline Образование и катехизация
							li._sub-item 
								a(href="@@webRoot/church/monashestvo.html")._link.link_underline  Монашество
			._column 
				._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline Главная
							li._item  
								+iconfont('angle-right', '_icon')
							li
								a(href="@@webRoot/church/church.html" title="Церковь")._link.link_underline Церковь
							li._item  
								+iconfont('angle-right', '_icon')
							li
								span._item Епархиальная и приходская жизнь
				._title 
					hgroup.title.tl-02 
						h1 
							span Епархиальная и приходская жизнь
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="image") 
				._row
					.info-content 
						._column 
							._row