.section-about._container
	._body 
		.bg-grad 
		.bg-top 
		._content 
			._column
				ul._list 
					li 
						span.link-hover Что такое Церковь?
					li 
						a(href="#")._link.link_underline Епархиальная и приходская жизнь
			._column 
				._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline Главная
							li 
								//- +iconfont('angle-right', '_icon')
							li
								span._item Патриарх
				hgroup.title.tl-02._title 
					h2 
						span Что такое Церковь?
				.hr 
					img(src="@@webRoot/img/frame/hr.png" alt="") 