.section-greed._container 
	._body 
		.mask-render
		.bg-grad 
		.bg-top 
		._content 
			._column
				nav._menu 
					ul._list 
						li._item 
							a(href="@@webRoot/church/church.html")._link.link_underline Церковь
						ul._sub-menu 
							li._sub-item  
								a(href="@@webRoot/church/church-history.html")._link.link_underline  Церковь в истории
							li._sub-item 
								a(href="@@webRoot/church/prihodsk-zhizn.html")._link.link_underline Епархиальная и приходская жизнь
							li._sub-item 
								a(href="@@webRoot/church/social.html")._link.link_underline Социальное служение
							li._sub-item 
								span._link.link-hover Образование и катехизация
							li._sub-item 
								a(href="@@webRoot/church/monashestvo.html")._link.link_underline  Монашество
			._column 
				._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a(href="@@webRoot/index.html" title="Главная")._link.link_underline Главная
							li._item  
								+iconfont('angle-right', '_icon')
							li
								a(href="@@webRoot/church/church.html" title="Церковь")._link.link_underline Церковь
							li._item  
								+iconfont('angle-right', '_icon')
							li
								span._item Образование и катехизация
				._title 
					hgroup.title.tl-02 
						h1 
							span О религиозно-образовательном и катехизическом служении в Русской Православной Церкви
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="image") 
				._row
					.info-content 
						._column 
							._row
								p._cursive Документ утвержден определением Священного Синода Русской <br> Православной Церкви от 27 декабря 2011 года (журнал № 152). 
								p._text-color Содержание:
								ul._menu 
									li
										a(href="#1").link_underline.anchor-link Организация просветительского служения Церкви
									ul._sub-menu 
										li
											a(href="#2").link_underline.anchor-link I.1. Просветительская работа на общецерковном уровне
										li
											a(href="#3").link_underline.anchor-link I.2. Просветительская работа на епархиальном уровне
										li
											a(href="#4").link_underline.anchor-link I.3. Просветительская работа на благочинническом уровне
										li
											a(href="#5").link_underline.anchor-link I.4. Просветительская работа на приходском уровне
									li 
										a(href="#6").link_underline.anchor-link Направления, формы и содержание просветительского служения Церкви
										ul._sub-menu 
											li 
												a(href="#7").link_underline.anchor-link II.1. Оглашение
											li 
												a(href="#8").link_underline.anchor-link II.2. Духовное просвещение крещеных людей
								.hr 
									img(src="@@webRoot/img/frame/hr.png" alt="image") 
								p <strong>Христианская вера</strong> основана на Божественном Откровении, возвещенном пророками и&nbsp;апостолами. «Бог, многократно и многообразно говоривший издревле отцам в&nbsp;пророках, в&nbsp;последние дни сии говорил нам в&nbsp;Сыне, Которого поставил наследником всего, чрез&nbsp;Которого и&nbsp;веки сотворил» (Евр.&nbsp;1:1–2). Одно из&nbsp;наиболее часто встречающихся в&nbsp;Евангелии обращений ко&nbsp;Христу Спасителю, явившему нам полноту Божественного Откровения&nbsp;– Учитель. Он&nbsp;возвещал приближение Царства Божьего и&nbsp;учил народ как&nbsp;словами, так и&nbsp;делами, подавая личный пример послушания Небесному Отцу и&nbsp;жертвенного служения людям. Своим ученикам и&nbsp;апостолам Спаситель заповедал продолжать Его&nbsp;учительное служение: «Идите, научите все&nbsp;народы, крестя их&nbsp;во имя&nbsp;Отца &nbsp; Сына и&nbsp;Святаго Духа, уча их&nbsp;соблюдать всё, что&nbsp;Я повелел вам» (Мф.&nbsp;28:19–20). «Принявшие Крещение в&nbsp;день Пятидесятницы члены иерусалимской церкви постоянно пребывали в&nbsp;учении Апостолов, в&nbsp;общении и&nbsp;преломлении хлеба и&nbsp;молитвах» (Деян.&nbsp;2:42).
								p Научение вере связано с общинной, литургической и молитвенной жизнью Церкви. В центре этого научения – «<strong>Слово Божие</strong>, которое живо и действенно и острее всякого меча обоюдоострого» (Евр.&nbsp;4:12). А&nbsp;потому, как&nbsp;свидетельствует апостол Павел, «и&nbsp;слово мое, и&nbsp;проповедь моя не&nbsp;в&nbsp;убедительных словах человеческой мудрости, но&nbsp;в&nbsp;явлении духа и&nbsp;силы, чтобы вера ваша утверждалась не&nbsp;на&nbsp;мудрости человеческой, но&nbsp;на&nbsp;силе Божией» (1Кор.&nbsp;2:4–5).
								p Церковное учительство принципиально шире и&nbsp;глубже интеллектуального процесса передачи и&nbsp;усвоения знаний и&nbsp;информации. Средоточием и&nbsp;смыслом церковного просвещения является благодатное преображение всего&nbsp;естества человека в&nbsp;общении с&nbsp;Богом и&nbsp;Его&nbsp;Церковью.
								p Практика духовного назидания, восходящая к&nbsp;апостольскому времени, отражена в&nbsp;Предании Церкви, в&nbsp;том&nbsp;числе канонических постановлениях Вселенских и&nbsp;Поместных Соборов и&nbsp;в&nbsp;творениях святых отцов:
								p 46 правило Лаодикийского Собора постановляет: «Крещаемым должно изучати веру».
								p 78 правило VI&nbsp;Вселенского Собора подтверждает это&nbsp;постановление и&nbsp;придает ему&nbsp;общецерковный характер: «Готовящимся ко&nbsp;Крещению надлежит обучатися вере». 
								p 47 правило Лаодикийского Собора говорит о&nbsp;необходимости катехизации тех, кто&nbsp;не &nbsp;ыл научен вере до&nbsp;Крещения: «В&nbsp;болезни приявшим Крещение, и&nbsp;потом получившим здравие, подобает изучати веру и&nbsp;познавати, яко&nbsp;божественнаго дара сподобилися». 
								p 7 правило II Вселенского Собора предписывает также&nbsp;оглашать «присоединяющихся к&nbsp;Православию и&nbsp;части спасаемых из&nbsp;еретиков», определяя при&nbsp;этом и&nbsp;образ их&nbsp;оглашения: «и&nbsp;заставляем пребывати в&nbsp;церкви, и&nbsp;слушати Писания, и&nbsp;тогда уже крещаем&nbsp;их». 
								p О том же говорил и&nbsp;святитель Василий Великий: «Вера и&nbsp;крещение – суть два&nbsp;способа спасения, между собою сродные и&nbsp;нераздельные. Ибо&nbsp;вера совершается крещением, а&nbsp;крещение основополагается верою» («О&nbsp;Святом Духе», глава&nbsp;12). 
								p Эта практика находит также&nbsp;свое отражение в&nbsp;трудах древних христианских авторов, литургико-канонических памятниках и&nbsp;церковном богослужении. 
								p Просветительское служение Церкви, основанное на&nbsp;учительстве, включает в&nbsp;себя катехизацию и религиозное образование. Катехизация – это&nbsp;содействие уверовавшему в&nbsp;Бога человеку в&nbsp;сознательном и&nbsp;ответственном вхождении в&nbsp;жизнь Церкви. Религиозное образовани&nbsp; – это&nbsp;наставление православного христианина в&nbsp;истинах веры и&nbsp;нравственных нормах христианства, приобщение его к&nbsp;Священному Писанию и&nbsp;церковному Преданию, в&nbsp;том числе к&nbsp;литургической жизни Церкви, к&nbsp;святоотеческому молитвенному и&nbsp;аскетическому опыту. 
								p Настоящий документ, основываясь на&nbsp;Священном Писании, постановлениях Вселенских и&nbsp;Поместных Соборов и&nbsp;святоотеческих подходах к&nbsp;оглашению, определяет основные направления, формы и&nbsp;содержание просветительского служения Русской Православной Церкви.
								p._text-color#1 I. Организация просветительского служения Церкви
								p Просветительское служение в Русской Православной Церкви осуществляется на общецерковном, епархиальном, благочинническом и приходском уровнях. 
								p._text-color#2 I.1. Просветительская работа на общецерковном уровне
								p На общецерковном уровне катехизическую и религиозно-образовательную работу возглавляет Синодальный отдел религиозного образования и катехизации Русской Православной Церкви (далее – Синодальный отдел). Синодальный отдел является координационным органом по отношению к аналогичным учреждениям, действующим в Самоуправляемых Церквах, Экзархатах, Митрополичьих округах и епархиях.
								p._text-color Синодальный отдел:
								p вносит для рассмотрения Священноначалием проекты нормативных документов, регламентирующих образовательную и катехизическую деятельность Русской Православной Церкви;
								p обращается к епархиальным архиереям и руководителям профильных структурных подразделений епархий, направляет им свои нормативные документы и методические материалы, запрашивает соответствующую информацию;
								p осуществляет взаимодействие с другими Синодальными структурами по вопросам организации и координации образовательной и катехизической деятельности;
								p контролирует функционирование системы подготовки кадров для ведения образовательной и катехизической деятельности;
								p контролирует состояние образовательной и катехизической деятельности на общецерковном и епархиальном уровнях;
								p осуществляет информационное сопровождение образовательной и катехизической деятельности;
								p проводит экспертизу учебной, катехизической, научно-педагогической, методической литературы и аудио- и видеоматериалов для использования в Русской Православной Церкви;
								p организует и проводит образовательные конференции, чтения, конкурсы.
								p._text-color#3 I.2. Просветительская работа на епархиальном уровне
								p Общее руководство епархиальными подразделениями, действующими в области катехизической и религиозно-образовательной деятельности, осуществляет правящий архиерей. Для организации соответствующей работы в епархии действует профильный епархиальный отдел (или профильный ответственный епархиальный сотрудник), который в своей работе руководствуется общецерковными нормативными документами, указаниями правящего архиерея, рекомендациями Синодального отдела религиозного образования и катехизации. Зарплаты сотрудников, организационные расходы, программы и мероприятия профильного епархиального отдела оплачиваются из бюджета епархии и привлеченных средств.
								p Осуществляя организационную и методическую деятельность в области катехизации и религиозного образования, профильный епархиальный отдел (ответственный епархиальный сотрудник):
								p определяет методику и формы проведения огласительных бесед и бесед перед Таинством Венчания;
								p курирует работу действующих и инициирует создание новых духовно-просветительских центров, катехизических курсов, воскресных школ для детей и взрослых, координирует реализацию иных форм духовно-просветительской деятельности;
								p курирует, координирует, контролирует деятельность православных образовательных учреждений (детских садов, общеобразовательных школ, гимназий, лицеев);
								p проводит конференции, съезды, семинары образовательной и катехизической тематики;
								p осуществляет методическую поддержку реализации всех форм и направлений образовательной и катехизической деятельности в епархии;
								p взаимодействует с органами государственного управления, образовательными учреждениями, средствами массовой информации и общественностью в пределах сферы ответственности;
								p проводит анализ отчетов по образованию и катехизации из благочиний и предоставляет утвержденный епархиальным архиереем сводный отчет в Синодальный отдел религиозного образования и катехизации;
								p организует подготовку, переподготовку, повышение квалификации кадров для ведения образовательной и катехизической деятельности, а также проводит их аттестацию.
								p В соответствии с пунктом 18 Определения Архиерейского Собора Русской Православной Церкви (2–4 февраля 2011 года) «О вопросах внутренней жизни и внешней деятельности Русской Православной Церкви», в епархиях может создаваться профильная коллегия. Коллегия, являясь совещательным органом, формируется и осуществляет свою деятельность в соответствии с типовым Положением, принимаемым Священным Синодом.
								p._text-color#4 I.3. Просветительская работа на благочинническом уровне
								p На уровне благочиния общая организация, координация и контроль катехизической и религиозно-образовательной работы ведутся под руководством благочинного. Непосредственное осуществление этой работы должно быть возложено на штатного сотрудника, ответственного за катехизическую и образовательную работу в благочинии. Ответственный за катехизическую и образовательную работу в благочинии назначается на должность и освобождается от должности епархиальным архиереем по представлению благочинного, согласованному с председателем профильного отдела епархии. Ответственный за катехизическую и образовательную работу в благочинии зачисляется в штат одного из приходов благочиния с окладом согласно штатному расписанию. Ответственный за катехизическую и образовательную работу в благочинии подчиняется благочинному и согласовывает свою деятельность с председателем профильного епархиального отдела (профильным ответственным епархиальным сотрудником). Благочинный имеет попечение о привлечении средств для проведения профильных программ и мероприятий в благочинии.
								p._text-color Ответственный за катехизическую и образовательную работу в благочинии:
								p осуществляет взаимодействие с епархиальным отделом, участвует в работе коллегии при нем, в благочиннических и епархиальных мероприятиях в области образования и катехизации;
								p осуществляет регулярное взаимодействие с приходскими катехизаторами, директорами воскресных школ и координирует их деятельность;
								p осуществляет регулярное взаимодействие с директорами православных образовательных учреждений, участвует в представлении их интересов перед государственными и муниципальными органами;
								p помогает настоятелям приходов, в штат которых не входит приходской катехизатор, в организации и осуществлении катехизической деятельности по направлениям, указанным в п. 1.4;
								p организует мероприятия в области образования и катехизации в масштабе благочиния;
								p проводит анализ приходских отчетов по катехизации и деятельности воскресных школ;
								p составляет годовой план работы и годовой отчет о деятельности по соответствующей форме, согласовывает их с профильным епархиальным отделом (ответственным епархиальным сотрудником) и утверждает у благочинного;
								p регулярно повышает квалификацию на епархиальных или общецерковных курсах повышения квалификации.
								p._text-color#5 I.4. Просветительская работа на приходском уровне
								p На приходском уровне общая организация, координация и контроль катехизической и религиозно-образовательной работы находятся в компетенции настоятеля. Попечение об этой работе должно быть возложено на штатного приходского катехизатора, в тех приходах, где есть возможность создать такую должность. Решение об освобождении прихода от необходимости иметь данную штатную единицу принимает благочинный по представлению настоятеля с последующим докладом епархиальному архиерею. Такое решение может быть принято в отношении малочисленных приходов, в первую очередь находящихся в сельской местности и малых городах.
								p Деятельность воскресной школы для детей по благословению настоятеля организует директор воскресной школы.
								p По благословению настоятеля прихода осуществлять катехизическую деятельность могут клирики прихода, студенты и выпускники духовных школ и профильных учебных заведений, а также миряне, получившие соответствующее образование и квалификацию катехизатора. При этом деятельность мирян в области катехизации не должна подменять собой пастырское служение клирика и его духовное руководство.
								p Приходской катехизатор и директор воскресной школы назначаются на должность и освобождаются от должности настоятелем, зачисляются в штат прихода с окладом согласно штатному расписанию, подчиняются настоятелю и согласовывают свою деятельность с председателем профильного епархиального отдела (профильным ответственным епархиальным сотрудником) и с ответственным за катехизическую и религиозно-образовательную работу в благочинии.
								p Соответствующие программы и мероприятия прихода оплачиваются из средств прихода и привлеченных средств.
								p._text-color Приходской катехизатор организует или проводит:
								p огласительные беседы перед Таинством Крещения со взрослыми, детьми сознательного возраста, родителями и восприемниками малолетних детей, а также беседы с лицами, желающими вступить в брак; эти беседы дополняют личное пастырское общение священника с готовящимися принять Таинства;
								p занятия в воскресной школе для взрослых с целью расширения знаний прихожан и сотрудников прихода по основам православного вероучения;
								p библейские (евангельские) беседы, беседы по вопросам богослужения;
								p работу службы приходского консультирования по основам православного вероучения, церковной жизни, православной этики и правилам поведения в храме;
								p духовно-просветительскую работу во время паломнических поездок, организованных приходом;
								p разработку и распространение катехизических листков к православным праздникам, воскресным дням, дням поминовения усопших, историческим храмовым датам.
								p._text-color Приходской катехизатор:
								p осуществляет регулярное взаимодействие с помощником благочинного по катехизации и профильным епархиальным отделом (ответственным епархиальным сотрудником);
								p по благословению настоятеля участвует в благочиннических и епархиальных мероприятиях катехизической направленности;
								p составляет годовой план работы и годовой отчет о деятельности, утверждает их у настоятеля и предоставляет помощнику благочинного по катехизации;
								p регулярно повышает квалификацию, в частности на епархиальных курсах повышения квалификации.
								p._text-color#6 II. Направления, формы и содержание просветительского служения Церкви
								p._text-color#7 II.1. Оглашение
								p <strong>Оглашение</strong> – это совокупность бесед и наставлений готовящимся принять Святое Крещение. Оглашение должны проходить все взрослые и дети старше 7 лет, желающие принять Таинство Крещения.
								p Недопустимо совершения Таинства Крещения над взрослыми людьми, которые, не зная основ веры, отказываются готовиться к участию в Таинстве.
								p Необходимыми условиями для совершения Таинства Крещения являются православная вера (Мк. 16:16) и покаяние (Деян. 2:38) желающих креститься.
								p <stromg>Вера</strong> оглашаемых должна выражаться в исповедании ими <strong>Иисуса Христа</strong> истинным <strong>Богом и Спасителем</strong>, в твердом намерении жить согласно учению Церкви и Слова Божьего, в исповедании Символа веры. Таинство Крещения не может быть совершено над человеком, отрицающим основополагающие истины православной веры и христианской нравственности. К участию в Таинстве Крещения не могут быть допущены люди, желающие креститься по суеверным причинам.
								p В таком случае рекомендуется отложить совершение Таинства Крещения до времени осознания человеком подлинного смысла этого Таинства.
								p В каждом конкретном случае продолжительность и объем оглашения должны определяться священнослужителем или мирянином-катехизатором с любовью и рассудительностью.
								p Оглашение взрослых предполагает несколько бесед, включающих в себя изучение Символа веры, избранных мест Священного Писания, основ христианской нравственности, в том числе представления о грехах и добродетелях, введение в литургическую жизнь Церкви.
								p._text-color При отсутствии возможностей или условий для оглашения должны соблюдаться следующие минимальные требования:
								p Необходимо провести не менее двух огласительных бесед об основных понятиях христианской нравственности, православного вероучения и церковной жизни. На первой беседе особое внимание должно быть уделено выяснению мотивов обращения человека к Церкви с просьбой о Крещении, помощи ему в осознании христианского смысла Таинства, ответам на вопросы и первоначальному наставлению в вере. На второй беседе оглашаемым должно быть преподано общее наставление в христианской вере и жизни посредством толкования Символа веры и основных библейских заповедей. Катехизатор должен акцентировать внимание оглашаемого на необходимости изменить свою жизнь в соответствии с Евангелием Христовым, а также удостовериться в правильности усвоения им основных истин православного вероучения о Боге, мире и человеке.
								p После второй огласительной беседы либо непосредственно перед совершением Таинства Крещения священник должен провести покаянно-исповедальную беседу, целью которой является осознание и исповедание крещаемым своих грехов и утверждение в благом намерении отказаться от них и начать новую жизнь в послушании Богу и Его Церкви.
								p В случае совершения Крещения над больными людьми или в условиях опасности для жизни оглашение должно быть совершено после Крещения при первой возможности.
								p При совершении Таинства Крещения над младенцами и детьми до 7 лет необходимо помнить, что крещение детей совершается в Церкви по вере их родителей и восприемников. В этом случае минимальную огласительную подготовку должны пройти как родители, так и восприемники, кроме тех случаев, когда они научены основам веры и участвуют в церковной жизни. Огласительные беседы с родителями и восприемниками следует проводить заранее и отдельно от совершения Таинства Крещения. Уместно призвать родителей и восприемников подготовиться к участию в Крещении их детей личным участием в Таинствах Покаяния и Евхаристии.
								p Восприятию Крещения как события, важнейшего в личной жизни человека и значимого для церковной общины, будет способствовать должная подготовка к принятию Таинства, возрождение древней практики его совершения в присутствии и при участии прихода в соединении со Святой Евхаристией в Великую Субботу, в навечерие Рождества и Богоявления.
								p._text-color#8 II.2. Духовное просвещение крещеных людей
								p Неотъемлемой частью жизни прихода должны стать систематические духовно-просветительские беседы и занятия, которые могут проводиться в форме воскресной школы или в иных формах. Более сложной и эффективной формой систематического духовного просвещения мирян являются богословские курсы, которые могут быть организованы на одном из крупных приходов и осуществлять свою деятельность в рамках города, благочиния или епархии.
								p В связи с этим одним из направлений развития катехизического служения на приходском, благочинническом и епархиальном уровне должно стать создание и обеспечение деятельности информационных ресурсов в интернет-пространстве, организация работы общедоступных библиотек и медиатек, издание и распространение духовно-просветительской литературы.
								p Необходимо расширять практику изучения на приходах Священного Писания в форме библейских бесед и кружков. Изучение и обсуждение Библии в небольших группах под руководством священнослужителя или катехизатора-мирянина должно помогать прихожанам глубже понимать Слово Божие и руководствоваться им в своей жизни, а также содействовать возрождению и развитию церковно-приходских общин. Следует также проводить для прихожан внебогослужебные беседы, посвященные изучению Таинств и обрядов Православной Церкви.
								p В больших приходах рекомендуется создавать консультативные службы по вопросам православной веры и церковной жизни, привлекая для этого служения как клириков храма, так и духовно просвещенных мирян. Современный опыт церковно-приходской жизни свидетельствует об эффективности индивидуальных просветительских бесед с заходящими в храм невоцерковленными людьми. Особого попечения требуют люди, которые пришли в храм из-за случившегося горя. В храмах рекомендуется размещать стенды с духовно-просветительской информацией, издавать и распространять общедоступные миссионерские, катехизические и духовно-просветительские материалы.
								p Предметом особого пастырского попечения настоятелей приходов должно стать повышение уровня церковной грамотности сотрудников храма, а также забота об их духовно-нравственном совершенствовании. Рекомендуется организовывать для них соответствующие специфике их служения духовно-просветительские беседы, поощрять их к получению церковного образования, контролировать их отношение к прихожанам.Одной из важных форм современной церковной жизни являются паломнические поездки. Настоятелям приходов, сотрудникам паломнических служб и ответственным мирянам следует помнить, что экскурсионно-паломническая деятельность имеет большой духовно-просветительский потенциал, который необходимо правильно использовать для проповеди Слова Божия и наставления паломников в православной вере.
								p Основной формой православного духовно-нравственного воспитания и катехизации детей и подростков являются церковно-приходские (воскресные) школы.
								p Деятельность церковно-приходских школ ориентирована на всестороннее воцерковление детей и юношества, на усвоение учащимися христианских нравственных норм и на активное включение их в церковную жизнь. Для достижения этой цели наряду с учебным процессом необходимо уделять значительное внимание организации внеучебной деятельности церковно-приходских школ: паломнических поездок, летних лагерей, участия в крестных ходах, подготовки рождественских и пасхальных спектаклей, хорового пения и художественного творчества, участия детей и подростков в социальном служении прихода.
								p Настоятель прихода должен иметь особое попечение о повышении уровня богословских и педагогических знаний преподавателей, воспитателей и руководителей церковно-приходских школ.
								p Современный кризис семьи и традиционных семейных ценностей побуждает Церковь уделять особое внимание подготовке верующих к Таинству Брака и духовно-просветительской работе с семьей.
								p По причине невоцерковленности большинства вступающих в церковный брак представляется необходимым установить перед Таинством Брака обязательные подготовительные беседы, во время которых священнослужитель или катехизатор-мирянин должен разъяснить вступающим в брак важность и ответственность предпринимаемого ими шага, раскрыть христианское понимание любви между мужчиной и женщиной, объяснить смысл и значение семейной жизни в свете Священного Писания и православного учения о спасении.
								p Церковное попечение о семье должно заключаться в подготовке молодежи к вступлению в брак и духовной поддержке семьи после ее создания.
								p Большое значение имеет размещение и распространение духовно-просветительской информации в родильных домах и женских консультациях, проведение катехизических бесед о христианском понимании любви и брака со старшеклассниками общеобразовательных школ и студентами средне-специальных и высших учебных заведений. Важным направлением развития духовно-просветительской деятельности Церкви является создание и организация работы различных форм православных консультаций по вопросам семьи и брака.
								p Православная Церковь обладает богатым и разнообразным опытом просветительской деятельности, основанной на Священном Писании и святоотеческой традиции. Современный мир, переживающий состояние духовно-нравственного кризиса, остро нуждается в живом христианском свидетельстве о Церкви, которая совершает «разумное служение» (Рим. 12:1) Богу и учит всякого человека поклоняться Ему «в духе и истине» (Ин. 4:24). Жизнь настойчиво требует актуализации накопленного в веках благодатного опыта просветительского служения и его творческого использования в наше время. <strong>«Иисус Христос вчера и&nbsp;сегодня и&nbsp;во веки Тот&nbsp;же»</strong> (Евр. 13:8), Он есть «путь и истина и жизнь» (Ин. 14:6) для людей всех времён, культур и народов. И сегодня, как прежде, Господь призывает Свою Церковь ревностно совершать «служение слова» (Деян. 6:4), чтобы помочь современному человеку найти путь к Богу, познать истину и обрести вечную жизнь в Царстве Божием.
								p._cursive 
									strong Источник: 
									a(href="http://www.patriarchia.ru/db/text/1909451.html" target="_blank").link_underline  Официальный сайт Московского Патриархата