.footer#contacts._container
	._body 
		._content
			._column
				._title
					h2.t-h1
						span Благочиние 
						span г. Обнинска 
			._column
				.navigation-footer
					._body 
						._item
							._title
								strong О Благочинии
							ul._list 
								li._item-list
									a(href="#").link_underline Церковь
								li._item-list
									a(href="@@webRoot/news.html").link_underline Новости
								li._item-list
									a(href="#").link_underline Духовенство
								li._item-list
									a(href="#").link_underline Документы
								li._item-list
									a(href="#").link_underline Воскресная школа для детей
						._item
							._title
								strong О вере и церкви
							ul._list 
								li._item-list
									a(href="#").link_underline Верую
								li._item-list
									a(href="#").link_underline Пасха
								li._item-list
									a(href="#").link_underline Крещение
								li._item-list
									a(href="#").link_underline Венчание
								li._item-list
									a(href="#").link_underline Двунадесятые праздники
			._column
				._item
					p 3-е благочиние Русская 
						strong Православная Церковь Калужская митрополия, Калужская епархия.
					p Обращаться по телефону: 
						span (48439) 4-44-44, 
						span 8-333-22-33-11 
			._column
				.contacts._contacts
					._items
						._column
							._item
								a(href="https://github.com/Dennchik" target="_blank" data-letters="Git-Hub")._link.link_underline  Git-Hub 
							._item
								a(href="https://t.me/allexandrw" target="_blank" data-letters="Telegram")._link.link_underline  Telegram 
							._item
								a(href="https://wa.me/79852605079" target="_blank" data-letters="WhatsApp")._link.link_underline  WhatsApp 
			._column
				._hr
					.hr 
						img(src="@@webRoot/img/frame/hr.png" alt="") 
					p Copyright © 2025. 3-e Благочиние г. Обнинска


