.footer#contacts._container
	._body 
		._content
			._column
				._title
					h2
						span Благочиние&nbsp;
						span г. Обнинска 
			._column
				._text
					p 3-е благочиние Русская 
						strong Православная Церковь Калужская митрополия, Калужская епархия
					p Обращаться по телефону 
						strong (48439) 4-44-44, 
						strong 8-333-22-33-11
					p Copyright © 2025 Все права защищены
			._column
				.contacts._contacts
					._items
						._column
							._item
								a(href="https://github.com/Dennchik" target="_blank" data-letters="Git-Hub")._link  Git-Hub 
							._item
								a(href="https://t.me/allexandrw" target="_blank" data-letters="Telegram")._link Telegram 
							._item
								a(href="https://wa.me/79852605079" target="_blank" data-letters="WhatsApp")._link WhatsApp
							//- 	a(href="https://github.com/Dennchik" target="_blank" data-letters="Git-Hub")._link.link_split Git-Hub 
							//- ._item
							//- 	a(href="https://t.me/allexandrw" target="_blank" data-letters="Telegram")._link.link_split Telegram 
							//- ._item
							//- 	a(href="https://wa.me/79852605079" target="_blank" data-letters="WhatsApp")._link.link_split  WhatsApp
							//- ._column
							//- 	._item |
							//- 	._item
							//- 		a(href="#" data-letters="v1").link_split v1
							//- 	._item
							//- 		a(href="#" data-letters="v2").link_split v2 
							//- 	._item
								a(href="#" data-letters="credits").link_split credits


