.header
	._container
		._content
			a(href="@@webRoot/index.html")._column.el-logo.transform-perspective
				._logo-wrpper.transform-box
					._logo
						img(src="@@webRoot/img/icons/logo.png")
					._text.t-016
						span Благочиние города Обнинска
			.menu-items._column
				._menu 
					ul._menu-items(data-da="bp-1" data-da-position="0" data-da-resolution="768" )
						li._item
							a(href="#about" data-letters="Церковь")._link-key.anchor-link.link_underline
								span Церковь 
						li._item
							a(href="#temples" data-letters="Храмы")._link-key.anchor-link.link_underline
								span Храмы
						li._item
							a(href="@@webRoot/duhovenstvo.html" data-letters="Духовенство")._link-key.link_underline
								span Духовенство
						li._item
							a(href="#news" data-letters="Новости")._link-key.anchor-link.link_underline
								span Новости
						li._item
							a(href="#contacts" data-letters="Контакты")._link-key.anchor-link.link_underline
								span Контакты 
						li._item
							include ../assets/burger-button 
