.header
	._container
		._search 
			._collapse
				include ../chunks/form-search 
		._content
			a(href="@@webRoot/index.html")._column.el-logo 
				._logo-wrpper 
					._logo
						img(src="@@webRoot/img/icons/logo.png")
					._text.t-016
						span Благочиние города Обнинска
			.menu-items._column
				._search 
					button(type="button")._search-button 
						+iconfont('search', '_search')
						+iconfont('cross-middle', '_cross-middle') 
				._menu 
					ul._list(data-da="bp-1" data-da-position="0" data-da-resolution="768" )
						li._item
							a(href="@@webRoot/church/church.html")._link-key.link_underline
								span Церковь 
						li._item
							a(href="@@webRoot/blagochinie/temples.html")._link-key.link_underline
								span Храмы
						li._item
							a(href="@@webRoot/blagochinie/about.html")._link-key.link_underline
								span О благочинии
						li._item
							a(href="@@webRoot/news.html")._link-key.link_underline
								span Новости
						li._item
							a(href="#contacts")._link-key.anchor-link.link_underline
								span Контакты 
				._button
					include ../assets/burger-button 
