nav.bread-crumbs
	ul.bread-crumbs__list
		li
		a(href=getWebRoot(filename) + "index.html" aria-label="home" title="/ Главная").bread-crumbs__link.link_underline Главная 
		li 
			+iconfont('angle-right', '_icon')
		li
			span.bread-crumbs__item Каталог