svg(viewBox="0 0 1200 800" xmlns="http://www.w3.org/2000/svg")
	mask#m
		g.cloud1
			rect(fill="#fff" width="100%" height="801" y="799")
			image(href="img/SVG-Text-Mask/cloud1Mask.jpg" width="1200" height="800")