.offer-container._container#offer
	.offer-container__body
		.offer-container__title Специальное предложение
		.offer-container__content
			.offer-container__column.sr-1
				.offer-container_wrapper
					a(href="#").offer-container__link
						.offer-container__title-box
							span Пакет Домашний 
							span 5 000
								i.icon-rub
					.offer-container__text Включает час звукозаписи сведение и&nbsp;мастеринг. 
				.offer-container__thumbnail  
			.offer-container__column.sr-2
				.offer-container__wrapper
					a(href="#").offer-container__link
						.offer-container__title-box
							span Пакет Комфорт 
							span 8 000
								i.icon-rub 
					.offer-container__text Час звукозаписи, Продюсирование, отбор лучших дублей, нотная коррекция, сведение и&nbsp;мастеринг. 
				.offer-container__thumbnail 
			.offer-container__column.sr-3 
				.offer-container__wrapper 
					a(href="#").offer-container__link 
						.offer-container__title-box 
							span Пакет Профи 
							span 12 000
								i.icon-rub 
					.offer-container__text Час звукозаписи, Педагог по&nbsp;вокалу поможет раскрыть ваш голос присутствуя на&nbsp;звукозаписи, Продюсирование, отбор лучших дублей, нотная коррекция, сведение и&nbsp;мастеринг. 
				.offer-container__thumbnail 
			.offer-container__column.sr-4 
				.offer-container__wrapper 
					a(href="#").offer-container__link 
						.offer-container__title-box 
							span Съемка в студии 
							span от 5 000
								i.icon-rub 
					.offer-container__text При заказе клипа в&nbsp;нашей студии вы получаете не&nbsp;только профессиональное видео высокого качества, но&nbsp;и&nbsp;дополнительные преимущества! Мы рады предоставить вам скидку в&nbsp;размере 10% на &nbsp;ваш заказ. 
				.offer-container__thumbnail
		.offer-container__button._open-button 
			button(type="button").order-button.btn-grad
				span оставить заявку 