.perform-slide._slide-perform
	.perform-slide__body.slide-perform._swiper   
		.perform-slide__slide-column 
			.perform-slide__image._img 
				img(src="/img/perform/perf-01.webp" alt="image")
			.perform-slide__content
				.perform-slide__body 
					.perform-slide__date  
						span.date 31 Март 2025.
						spn.weekday Воскресенье.
					.perform-slide__title.t-016 Седмица 5-я Великого&nbsp;поста, Крестопоклонная. Глас 7.
					.perform-slide__text 
						p Мчч. Хрисанфа и Дарии и с ними мчч. Клавдия трибуна, Иларии, жены его, Иасона и Мавра, сынов их, Диодора пресвитера и Мариана диакона (283). Cовершается служба, не отмеченная в Типиконе никаким знакомПрав. Софии, кн. Слуцкой (1612). Прп. Симеона Псково-Печерского (прославление 2003).
						p Мч. Панхария (ок. 302). Прп. Вассы Псково-Печерской (ок. 1473). Прп. Иннокентия Комельского, Вологодского (1511-1522). Прп. Симеона Дайбабского (1941) (Серб.).
						p Исп. Иоанна (1932). Прмц. Матроны (1938).
						p Иконы Божией Матери, именуемой "Умиление", Смоленской (1103).
		.perform-slide__slide-column 
			.perform-slide__image._img 
				img(src="/img/perform/perf-01.webp" alt="image")
			.perform-slide__content
				.perform-slide__body 
					.perform-slide__date 
						span.date 31 Март 2025.
						spn.weekday Понедельник.
					.perform-slide__title.t-016 Седмица 4-я Великого&nbsp;поста, Крестопоклонная. Глас 6.
					.perform-slide__text 
						p Мч. Агапия и с ним семи мучеников: Пуплия, Тимолая, Ромила, двух Александров и двух Дионисиев (1,2) (303).
						p Сщмч. Александра, иерея в Сиде (279-275). Мч. Никандра (ок. 302).
						p Сщмчч. Алексия пресвитера (1938). Сщмч. Михаила пресвитера (1940).
		.perform-slide__slide-column 
			.perform-slide__image._img 
				img(src="/img/perform/perf-02.webp" alt="image")
			.perform-slide__content
				.perform-slide__body 
					perform-slide_._date  
						span.date 31 Март 2025.
						spn.weekday Вторник.
					.perform-slide__title.t-016 Седмица 5-я Великого&nbsp;поста, Крестопоклонная. Глас 7.
					.perform-slide__text  
						p Мчч. Хрисанфа и Дарии и с ними мчч. Клавдия трибуна, Иларии, жены его, Иасона и Мавра, сынов их, Диодора пресвитера и Мариана диакона (283). Cовершается служба, не отмеченная в Типиконе никаким знакомПрав. Софии, кн. Слуцкой (1612). Прп. Симеона Псково-Печерского (прославление 2003).
						p Мч. Панхария (ок. 302). Прп. Вассы Псково-Печерской (ок. 1473). Прп. Иннокентия Комельского, Вологодского (1511-1522). Прп. Симеона Дайбабского (1941) (Серб.).
						p Исп. Иоанна (1932). Прмц. Матроны (1938).
						p Иконы Божией Матери, именуемой "Умиление", Смоленской (1103).
		.perform-slide__slide-column 
			.perform-slide__image._img 
				img(src="/img/perform/perf-03.webp" alt="image")
			.perform-slide__content
				.perform-slide__body 
					.perform-slide__date  
						span.date 31 Март 2025.
						spn.weekday Среда.
					.perform-slide__title.t-016 Седмица 5-я Великого&nbsp;поста, Крестопоклонная. Глас 7.
					.perform-slide__text  
						p Мчч. Хрисанфа и Дарии и с ними мчч. Клавдия трибуна, Иларии, жены его, Иасона и Мавра, сынов их, Диодора пресвитера и Мариана диакона (283). Cовершается служба, не отмеченная в Типиконе никаким знакомПрав. Софии, кн. Слуцкой (1612). Прп. Симеона Псково-Печерского (прославление 2003).
						p Мч. Панхария (ок. 302). Прп. Вассы Псково-Печерской (ок. 1473). Прп. Иннокентия Комельского, Вологодского (1511-1522). Прп. Симеона Дайбабского (1941) (Серб.).
						p Исп. Иоанна (1932). Прмц. Матроны (1938).
						p Иконы Божией Матери, именуемой "Умиление", Смоленской (1103).
		.perform-slide__slide-column 
			.perform-slide__image._img 
				img(src="/img/perform/perf-01.webp" alt="image")
			.perform-slide__content
				.perform-slide__body 
					.perform-slide__date  
						span.date 31 Март 2025.
						spn.weekday Четверг.
					.perform-slide__title.t-016 Седмица 5-я Великого&nbsp;поста, Крестопоклонная. Глас 7.
					.perform-slide__text  
						p Мчч. Хрисанфа и Дарии и с ними мчч. Клавдия трибуна, Иларии, жены его, Иасона и Мавра, сынов их, Диодора пресвитера и Мариана диакона (283). Cовершается служба, не отмеченная в Типиконе никаким знакомПрав. Софии, кн. Слуцкой (1612). Прп. Симеона Псково-Печерского (прославление 2003).
						p Мч. Панхария (ок. 302). Прп. Вассы Псково-Печерской (ок. 1473). Прп. Иннокентия Комельского, Вологодского (1511-1522). Прп. Симеона Дайбабского (1941) (Серб.).
						p Исп. Иоанна (1932). Прмц. Матроны (1938).
						p Иконы Божией Матери, именуемой "Умиление", Смоленской (1103). 
		.perform-slide__slide-column 
			.perform-slide__image._img 
				img(src="/img/perform/perf-02.webp" alt="image")
			.perform-slide__content
				.perform-slide__body 
					.perform-slide__date  
						span.date 31 Март 2025.
						spn.weekday Пятница.
					.perform-slide__title.t-016 Седмица 5-я Великого&nbsp;поста, Крестопоклонная. Глас 7.
					.perform-slide__text  
						p Мчч. Хрисанфа и Дарии и с ними мчч. Клавдия трибуна, Иларии, жены его, Иасона и Мавра, сынов их, Диодора пресвитера и Мариана диакона (283). Cовершается служба, не отмеченная в Типиконе никаким знакомПрав. Софии, кн. Слуцкой (1612). Прп. Симеона Псково-Печерского (прославление 2003).
						p Мч. Панхария (ок. 302). Прп. Вассы Псково-Печерской (ок. 1473). Прп. Иннокентия Комельского, Вологодского (1511-1522). Прп. Симеона Дайбабского (1941) (Серб.).
						p Исп. Иоанна (1932). Прмц. Матроны (1938).
						p Иконы Божией Матери, именуемой "Умиление", Смоленской (1103).  
		.perform-slide__slide-column 
			.perform-slide__image._img 
				img(src="/img/perform/perf-03.webp" alt="image")
			.perform-slide__content
				.perform-slide__body 
					.perform-slide__date  
						span.date 31 Март 2025.
						spn.weekday Суббота.
					.perform-slide__title.t-016 Седмица 5-я Великого&nbsp;поста, Крестопоклонная. Глас 7.
					.perform-slide__text 
						p Мчч. Хрисанфа и Дарии и с ними мчч. Клавдия трибуна, Иларии, жены его, Иасона и Мавра, сынов их, Диодора пресвитера и Мариана диакона (283). Cовершается служба, не отмеченная в Типиконе никаким знакомПрав. Софии, кн. Слуцкой (1612). Прп. Симеона Псково-Печерского (прославление 2003).
						p Мч. Панхария (ок. 302). Прп. Вассы Псково-Печерской (ок. 1473). Прп. Иннокентия Комельского, Вологодского (1511-1522). Прп. Симеона Дайбабского (1941) (Серб.).
						p Исп. Иоанна (1932). Прмц. Матроны (1938).
						p Иконы Божией Матери, именуемой "Умиление", Смоленской (1103).
	.perform-slide__pagination 
.navigation 
	.navigation__button-prev.slide-perform-prev 
		img(src="/img/frame/arrow.png" alt="image")
	.navigation__button-next.slide-perform-next
		img(src="/img/frame/arrow.png" alt="image")
