@use '../core/variables' as *;
@use '../core/mixins' as *;

._collapse:not(._show) {
  display: none;
}

.aside-menu {
  position: sticky;
  top: 11rem;

  overflow-x: hidden;

  max-height: calc(100vh - 8rem);
  padding: 0 2rem 5rem;

  backdrop-filter: blur(8px);

  &::-webkit-scrollbar {
    width: 0.4rem !important;
    margin-right: 5px;
  }

  // .aside-menu__list
  &__list {
    position: relative;
    height: 100%;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background: linear-gradient(to right, #6464645b, transparent);
    }

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background: linear-gradient(to right, #6464645b, transparent);
    }
  }

  // .aside-menu__item
  &__item {
    position: relative;
    line-height: 1;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background: linear-gradient(to right, #6464645b, transparent);
    }

    @include screen-hover {
      a {
        transition: transform 0.3s ease-in-out;
      }

      a {
        &:hover {
          transform: translateX(1%);
        }
      }
    }

    @include screen-768 {
      &:not(:last-child) {
        &::before {
          display: none;
        }
      }
    }

    span {
      user-select: none;

      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
    }

    &.is-active {
      > ._trigger {
        span {
          color: $color-secondary;
        }

        .icon-angle-down {
          transform: scale(-1);
          color: $color-secondary;
        }
      }
    }
  }

  // .aside-menu__link
  &__link {
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 0;

    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;

    transition: color 0.3s ease-out;

    @include screen-hover {
      &:hover {
        color: $font-color-secondary;
      }
    }

    .icon-angle-down {
      font-size: 22px;
      transition: transform 0.3s ease-in-out;
    }
  }

  // .aside-menu__sub-menu
  &__sub-menu {
    overflow: hidden;
    padding-left: 1rem;
  }
}
