@use '../core/variables' as *;
@use '../core/mixins' as *;

.aside-menu {
  position: sticky;
  top: 11rem;

  overflow-x: hidden;

  max-height: calc(100vh - 8rem);
  padding: 0 2rem;
  padding-bottom: 5rem;

  backdrop-filter: blur(8px);

  &::-webkit-scrollbar {
    width: 0.4rem !important;
    margin-right: 5px;
  }

  // .aside-menu__list
  &__list {
    height: 100%;
  }

  // .aside-menu__item
  &__item {
    position: relative;
    line-height: 1;

    @include screen-hover {
      a {
        transition: transform 0.3s ease-in-out;
      }

      a {
        &:hover {
          transform: translateX(1%);
        }
      }
    }

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background: linear-gradient(to right, #6464645b, transparent);
    }

    @include screen-768 {
      &:not(:last-child) {
        &::before {
          display: none;
        }
      }
    }

    span {
      user-select: none;

      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
    }

    &.is-active {
      .aside-menu__collapse {
        grid-template-rows: 1fr;
      }

      .icon-angle-down {
        transform: scale(-1);
      }
    }
  }

  // .aside-menu__link
  &__link {
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 0;

    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;

    transition: color 0.3s ease-out;

    &:hover {
      color: $font-color-secondary;
    }

    .icon-angle-down {
      font-size: 22px;
      transition: transform 0.3s ease-in-out;
    }
  }

  // .aside-menu__collapse
  &__collapse {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
  }

  // .aside-menu__sub-menu
  &__sub-menu {
    overflow: hidden;
    min-height: 0;
    padding-left: 1rem;
  }
}
